<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Nuovo*</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">
          ×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>Tutti i campi indicati con * sono obbligatori.</span>
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <label>Data*</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Scegli una data</mat-label>
          <input matInput [matDatepicker]="data" [(ngModel)]="item.data" [disabled]="disable">
          <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
          <mat-datepicker #data></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <label>Orario*</label>
        <input type="time" class="form-control" [(ngModel)]="time" [disabled]="disable">
      </div>
      <div class="col">
        <label></label>
        <div class="form-check form-switch">
          <label class="form-check-label" for="visible">Visibile a tutti </label>
          <input class="form-check-input" type="checkbox" id="visible" [(ngModel)]="visible">
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <label>Descrizione*</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <textarea matInput placeholder="Inserisci il contenuto" [(ngModel)]="item.descrizione" [disabled]="disable"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="true">Chiudi</button>
    <button mat-button class="button-save" (click)="save()">Salva</button>
  </div>
</div>
