<div class="row text-center">
  <div class="col">
    <hr />
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <mat-form-field appearance="standard" style="width: 100%;">
      <mat-label>Cerca</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Cerca qui..." [(ngModel)]="inputSearchField">
    </mat-form-field>
  </div>
  <div class="col-1">
    <img src="../../../assets/clean.png" style="width:26px; cursor: pointer;" (click)="cleanSearchField()">
  </div>
</div>

<ng-container *ngIf="type == 'ArmadioFarmaci' || type == 'ArmadioFarmaciPaziente'">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center" style="width: 100%; margin: auto;">

    <ng-container matColumnDef="elemento">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        Elemento
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        {{element.elemento}}
      </td>
    </ng-container>

    <ng-container matColumnDef="elementotype">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        Elemento
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        {{element.elementotype}}
      </td>
    </ng-container>

    <ng-container matColumnDef="operazione">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Operazione </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.operation}} </td>
    </ng-container>

    <ng-container matColumnDef="quantita">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Quantità </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Data </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.dataOP | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="operatore">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Operatore </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.operatorName}} </td>
    </ng-container>

    <ng-container matColumnDef="ospite">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Ospite </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.pazienteName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
  </table>

  <div class="paginator-container text-center" style="margin-top: 20px;">
    <mat-paginator #paginatorAttivita [pageSizeOptions]="[5,10,20]" showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</ng-container>


<ng-container *ngIf="type != 'ArmadioFarmaci' && type != 'ArmadioFarmaciPaziente'">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center" style="width: 100%; margin: auto;">

    <ng-container matColumnDef="elemento">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <ng-container *ngIf="type == 'Farmaci'">
          Farmaco
        </ng-container>
        <ng-container *ngIf="type == 'Presidi'">
          Presidio
        </ng-container>
          
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        {{element.elemento}}
      </td>
    </ng-container>

    <ng-container matColumnDef="operazione">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Operazione </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.operation}} </td>
    </ng-container>

    <ng-container matColumnDef="quantita">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Quantità </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Data </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.dataOP | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="operatore">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Operatore </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.operatorName}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="DisplayedColumnsN"></tr>
    <tr mat-row *matRowDef="let row; columns: DisplayedColumnsN;"></tr>
  </table>

    <mat-paginator #paginatorAttivita [pageSizeOptions]="[5,10,20]" showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</ng-container>
