<div class="container-flex">

  <div class="row">
    <div class="right col-2">
      <mat-label>Nome:</mat-label>
    </div>
    <div class="col left">{{nome}}</div>

    <div class="right col-2">
      <mat-label>Cognome:</mat-label>
    </div>
    <div class="col left">{{cognome}}</div>

  </div>

  <div class="row">
    <div class="right col-2">
      <mat-label>email:</mat-label>
    </div>
    <div class="col left">
      {{email}}
    </div>
  </div>

  <div class="row">
    <div class="right col-2">
      <mat-label>Mansione:</mat-label>
    </div>
    <div class="col left">
      {{mansione}}
    </div>
  </div>

</div>
