<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI FAMIGLIARE</mat-card-title>
          <mat-card-subtitle>Gentilizio positivo per:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <section class="example-section" >
            <mat-checkbox class="" [(ngModel)]="cartella.ipertensione" (change)="change()" > Ipertensione</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="cartella.diabete" (change)="change()" > Diabete</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="cartella.malatCardiovascolari" (change)="change()" > Malattie Cardiovascolari</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="cartella.malatCerebrovascolari" (change)="change()" > Malattie Cerebrovascolari</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="cartella.demenza" (change)="change()" > Demenza</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="cartella.neoplasie" (change)="change()" > Neoplasie</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="cartella.altro" (change)="change()"> Altro</mat-checkbox>
          </section>

          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="cartella.testoAltro" (change)="change()"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI FISIOLOGICA</mat-card-title>
          <mat-card-subtitle>Vaccinazioni:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <section class="example-section">
            <mat-checkbox [(ngModel)]="cartella.antitetanica" class="" (change)="change()">Antitetanica</mat-checkbox>
            <mat-checkbox [(ngModel)]="cartella.antiepatiteB" class="" (change)="change()"> Antiepatite B</mat-checkbox>
            <mat-checkbox [(ngModel)]="cartella.antinfluenzale" class="" (change)="change()"> Antinfluenzale</mat-checkbox>
            <mat-checkbox [(ngModel)]="cartella.altre" class="" (change)="change()"> Altre</mat-checkbox>
          </section>

          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="cartella.testoAltre" (change)="change()"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ATTIVIT&Agrave; LAVORATIVA PRINCIPALE</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; lavorative</mat-label>
            <input matInput placeholder="Inserisci attivit&agrave; lavorative" [(ngModel)]="cartella.attLavorative" (change)="change()" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>SCOLARIT&Agrave;</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Scolarit&agrave;</mat-label>
            <input matInput placeholder="Inserisci scolarit&agrave;" [(ngModel)]="cartella.scolarita" (change)="change()">
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>






<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Servizio militare</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Servizio militare</mat-label>
            <input matInput placeholder="Inserisci servizio militare" [(ngModel)]="cartella.servizioMilitare" (change)="change()" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Menarca</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Menarca</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="cartella.menarca" (change)="change()" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Menopausa</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-radio-group aria-label="Select una opzione"  [(ngModel)]="cartella.menopausa" (change)="change()">
            <mat-radio-button value="1" >fisiologica</mat-radio-button>
            <mat-radio-button value="2" >chirurgica</mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Attivit&agrave; Fisica</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; Fisica</mat-label>
            <input matInput placeholder="Inserisci"  [(ngModel)]="cartella.attFisica" (change)="change()">
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alimentazione</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alimentazione</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="cartella.alimentazione" (change)="change()" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alvo</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alvo</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="cartella.alvo" (change)="change()">
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Diurisi</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Diurisi</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="cartella.diurisi" (change)="change()" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alcolici</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alcolici</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="cartella.alcolici" (change)="change()" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Fumo</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fumo</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="cartella.fumo" (change)="change()" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Sonno</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sonno</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="cartella.sonno" (change)="change()">
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
