<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI FAMIGLIARE</mat-card-title>
          <mat-card-subtitle>Gentilizio positivo per:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <section class="example-section" >
            <mat-checkbox class="" [(ngModel)]="element.ipertensione" > Ipertensione</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="element.diabete" > Diabete</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="element.malatCardiovascolari" > Malattie Cardiovascolari</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="element.malatCerebrovascolari" > Malattie Cerebrovascolari</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="element.demenza" > Demenza</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="element.neoplasie" > Neoplasie</mat-checkbox>
            <mat-checkbox class="" [(ngModel)]="element.altro" > Altro</mat-checkbox>
          </section>

          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="element.testoAltro" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI FISIOLOGICA</mat-card-title>
          <mat-card-subtitle>Vaccinazioni:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <section class="example-section">
            <mat-checkbox [(ngModel)]="element.antitetanica" class="" >Antitetanica</mat-checkbox>
            <mat-checkbox [(ngModel)]="element.antiepatiteB" class="" > Antiepatite B</mat-checkbox>
            <mat-checkbox [(ngModel)]="element.antinfluenzale" class="" > Antinfluenzale</mat-checkbox>
            <mat-checkbox [(ngModel)]="element.altre" class="" > Altre</mat-checkbox>
          </section>

          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="element.testoAltre" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ATTIVIT&Agrave; LAVORATIVA PRINCIPALE</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; lavorative</mat-label>
            <input matInput placeholder="Inserisci attivit&agrave; lavorative" [(ngModel)]="element.attLavorative" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>SCOLARIT&Agrave;</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Scolarit&agrave;</mat-label>
            <input matInput placeholder="Inserisci scolarit&agrave;" [(ngModel)]="element.scolarita" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>






<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Servizio militare</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Servizio militare</mat-label>
            <input matInput placeholder="Inserisci servizio militare" [(ngModel)]="element.servizioMilitare" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Menarca</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Menarca</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="element.menarca" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Menopausa</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-radio-group aria-label="Select una opzione"  [(ngModel)]="element.menopausa">
            <mat-radio-button value="1" >fisiologica</mat-radio-button>
            <mat-radio-button value="2" >chirurgica</mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Attivit&agrave; Fisica</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; Fisica</mat-label>
            <input matInput placeholder="Inserisci"  [(ngModel)]="element.attFisica" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alimentazione</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alimentazione</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="element.alimentazione" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alvo</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alvo</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="element.alvo" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Diurisi</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Diurisi</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="element.diurisi" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alcolici</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alcolici</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="element.alcolici" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Fumo</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fumo</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="element.fumo" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Sonno</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sonno</mat-label>
            <input matInput placeholder="Inserisci" [(ngModel)]="element.sonno" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
