<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI FAMIGLIARE</mat-card-title>
          <mat-card-subtitle>Gentilizio positivo per:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <section class="example-section">
            <mat-checkbox class="">Ipertensione</mat-checkbox>
            <mat-checkbox class=""> Ipertensione</mat-checkbox>
            <mat-checkbox class=""> Diabete</mat-checkbox>
            <mat-checkbox class=""> Malattie Cardiovascolari</mat-checkbox>
            <mat-checkbox class=""> Malattie Cerebrovascolari</mat-checkbox>
            <mat-checkbox class=""> Demenza</mat-checkbox>
            <mat-checkbox class=""> Neoplasie</mat-checkbox>
            <mat-checkbox class=""> Altro</mat-checkbox>
          </section>

          <textarea class="form-control value_input" rows="1" cols="150"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI FISIOLOGICA</mat-card-title>
          <mat-card-subtitle>Vaccinazioni:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <section class="example-section">
            <mat-checkbox class="">Antitetanica</mat-checkbox>
            <mat-checkbox class=""> Antiepatite B</mat-checkbox>
            <mat-checkbox class=""> Antinfluenzale</mat-checkbox>
            <mat-checkbox class=""> Altre</mat-checkbox>
          </section>

          <textarea class="form-control value_input" rows="1" cols="150"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ATTIVIT&Agrave; LAVORATIVA PRINCIPALE</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; lavorative</mat-label>
            <input matInput placeholder="Inserisci attivit&agrave; lavorative" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>SCOLARITA&Agrave;</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Scolarit&agrave;</mat-label>
            <input matInput placeholder="Inserisci scolarit&agrave;" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Attivit&Agrave; lavorativa principale</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; lavorativa principale</mat-label>
            <input matInput placeholder="Inserisci attivit&agrave; lavorativa principale" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Attivit&Agrave; lavorativa principale</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; lavorativa principale</mat-label>
            <input matInput placeholder="Inserisci attivit&agrave; lavorativa principale" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Servizio militare</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Servizio militare</mat-label>
            <input matInput placeholder="Inserisci servizio militare" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Menarca</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Menarca</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Menopausa</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-radio-group aria-label="Select una opzione">
            <mat-radio-button value="1">fisiologica</mat-radio-button>
            <mat-radio-button value="2">chirurgica</mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Attivit&agrave; Fisica</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Attivit&agrave; Fisica</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alimentazione</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alimentazione</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alvo</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alvo</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Diurisi</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Diurisi</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alcolici</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Alcolici</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Fumo</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fumo</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Sonno</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sonno</mat-label>
            <input matInput placeholder="Inserisci" >
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
