

<div class="containter pad">
    <div class="row">
      <div class="col ">
        <h1 class="title">AREA OSS - Gestione Ospiti</h1>

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <!-- <app-table-ospiti (showItemEmiter)="show($event)"  [eventPazienti]="eventsSubject.asObservable()" [buttons]='["CC", "CI"]'></app-table-ospiti> -->

          <app-table-ospiti [eventPazienti]="eventsSubject.asObservable()"
                            [enableShow]=false
                            [enableDeleting]=false
                            [showInsert]=false
                            [enableCustomButton]=true
                            [CustomButtons]=customButtons>
          </app-table-ospiti>
      </div>
    </div>
  </div>
