<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h4>Mini Nutritional Assessment(MNAR)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Peso Kg</label>
              </div>
              <div class="col">
                <input type="text" [disabled]=disable [(ngModel)]="data.peso">
              </div>

              <div class="col">
                <label>Statura cm</label>
              </div>
              <div class="col">
                <input type="text" [disabled]=disable [(ngModel)]="data.statura">
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <h4>A) Presenta una perdita dell'appetito?Ha mangiato meno negli ultimi 3 mesi?(perdita
                  d'appetito,problemi digestivi,difficolotà di masticazione o deglutizione)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">0 = Grave riduzione dell'assunzione di cibo</div>
                  </div>

                  <div class="row">
                    <div class="col">1 = Moderata riduzione dell'assunzione di cibo</div>
                  </div>

                  <div class="row">
                    <div class="col">2 = Nessuna riduzione dell'assunzione di cibo</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioA">
                </mat-form-field>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col">
                <h4>B) Perdita di peso recente(&lt; 3 mesi)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">0 = perdita di peso &gt; 3</div>
                  </div>

                  <div class="row">
                    <div class="col">1 = non sa</div>
                  </div>

                  <div class="row">
                    <div class="col">2 = perdita di peso tra 1 e 3 Kg</div>
                  </div>

                  <div class="row">
                    <div class="col">3 = nessuna perdita di peso</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioB">
                </mat-form-field>
              </div>
            </div>


            <hr>



            <div class="row">
              <div class="col">
                <h4>C) Motricit&agrave;</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">0 = dal letto alla poltrona</div>
                  </div>

                  <div class="row">
                    <div class="col">1 = autonomo a domicilio</div>
                  </div>

                  <div class="row">
                    <div class="col">2 = esce di casa</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioC">
                </mat-form-field>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <h4>D) Nell'arco degli utlimi 3 mesi:malattie acute o stress psicologici? </h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">0 = si</div>
                  </div>

                  <div class="row">
                    <div class="col">2 = no</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioD">
                </mat-form-field>
              </div>
            </div>

            <hr>


            <div class="row">
              <div class="col">
                <h4>E) Problemi neuropsicologici</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">0 = demenza o depressione grave</div>
                  </div>

                  <div class="row">
                    <div class="col">1 = demenza moderata</div>
                  </div>

                  <div class="row">
                    <div class="col">2 = nessun problema psicologico</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioE">
                </mat-form-field>
              </div>
            </div>


            <hr>


            <div class="row">
              <div class="col">
                <h4>F1) Indice di massa corporea (IMC = peso/(altezza)2 in Kg/m2)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">0 = IMC &lt; 19</div>
                  </div>

                  <div class="row">
                    <div class="col">1 = 19&lt; IMC &lt; 21 </div>
                  </div>

                  <div class="row">
                    <div class="col">2 = 21 &lt; IMC &lt; 23</div>
                  </div>

                  <div class="row">
                    <div class="col">3 = IMC &gt; 23</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioF1">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>SE L'IMC NON E' DISPONIBILE,SOSTITUIRE LA DOMANDA F1 CON LA DOMANDA F2.NON RISPONDERE ALLA
                  DOMANDA F2 SE LA DOMANDA F1 E' GIA' STATA COMPLETATA.</label>
              </div>
            </div>

            <hr>




            <div class="row">
              <div class="col">
                <h4>F2) Circonferenza del polpaccio(CP in cm)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">0 = CP inferiore a 31</div>
                  </div>

                  <div class="row">
                    <div class="col">3 = CP 31 o superiore</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioF2">
                </mat-form-field>
              </div>
            </div>



            <hr>


            <div class="row">
              <div class="col">
                <h4>Valutazione di screening(max 14 punti)</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">12-14 punti: stato nutrizionale normale</div>
                  </div>

                  <div class="row">
                    <div class="col">8-11 punti: a rischio di malnutrizione</div>
                  </div>

                  <div class="row">
                    <div class="col">0-714 punti: malnutrito</div>
                  </div>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Punteggio</mat-label>
                  <input matInput placeholder="Punteggio" [disabled]=disable [(ngModel)]="data.punteggioScreening">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
