h2[mat-dialog-title] {
  font-size: 20px;
  font-weight: 600;
  color: #676a6c;
}

button,
select {
  text-transform: none;
}

.bottom-actions {
  width: 100%;
  text-align: right;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

.mat-column-action {
  width: 60px;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}
