

<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">AREA INFERMIERISTICA</h1>
      CC = Cartella Clinica, CI = Cartella Infermieristica

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <!-- <app-table-ospiti
      [eventPazienti]="eventsSubject.asObservable()"
      [showPatient]="showFunction"
      [enableShow]=true
      [enableDeleting]=false
      [showInsert]=false></app-table-ospiti> -->

      <app-table-ospiti
        [eventPazienti]="eventsSubject.asObservable()"
        [enableShow]=false
        [enableDeleting]=false
        [showInsert]=false
        [enableCustomButton]=true
        [CustomButtons] = customButtons
        >
      </app-table-ospiti>


    </div>
  </div>
</div>
