/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
}

:root {
  --background: #2f4050
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #f3f3f4 !important;
  color: #676a6c;
}

.blankLine {
  height: 21px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.middle {
  align-self: center;
}

.fit {
  width: fit-content;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: #ffffff;
  background-color: #f8ac59;
  border-color: #f8ac59;
}


.mat-tab-group {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.button-insert {
  color: #fff;
  background-color: #1ab394;
  border-color: #1ab394;
}

select {
  background-color: white;
}

select.custom-select {
  width: 100%;
  color: #495057;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}
