<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h4>SCALA VALUTAZONE DULCERE DIABETICHE</h4>

              </div>


              <div class="row">
                <div class="col">
                  <label>Descrizione</label>
                  <textarea class="form-control" rows="5" cols="150" [disabled]=disable></textarea>

                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Il Sistema di Classificazione per il Piede secondo la Texas University</label>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Stadio/Grado</th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>A</td>
                        <td>Lesione pre o post ulcerativa completamente riepitelizzata</td>
                        <td>Ulcera superficiale tendini o capsule</td>
                        <td>Ulcera penetrante osso e articolazioni</td>
                        <td>Ulcera penetrante</td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td>Con infezione</td>
                        <td>Con infezione</td>
                        <td>Con infezione</td>
                        <td>Con infezione</td>

                      </tr>
                      <tr>
                        <td>C</td>
                        <td>Con ischemia</td>
                        <td>Con ischemia</td>
                        <td>Con ischemia</td>
                        <td>Con ischemia</td>

                      </tr>

                      <tr>
                        <td>D</td>
                        <td>Con infezione ed ischemia</td>
                        <td>Con infezione ed ischemia</td>
                        <td>Con infezione ed ischemia</td>
                        <td>Con infezione ed ischemia</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Valutazione: </label>
                  <input type="text" placeholder="  /  " [disabled]=disable>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Conclusione</label>
                  <textarea class="form-control" rows="5" cols="150" [disabled]=disable></textarea>
                </div>
              </div>

            </div>
