<div class="main-container">
    <div class="header-section">
        <h1>Gestione Carrelli <span class="badge-title" *ngIf="title">{{title}}</span></h1>
    </div>

    <mat-tab-group animationDuration="200ms">

        <!-- Tab 1: Gestione Carrelli -->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="me-2">shopping_cart</mat-icon>
                Gestione Carrelli
            </ng-template>

            <div class="table-container mat-elevation-z2 mt-3">
                <table mat-table [dataSource]="dataSource" class="full-width-table">

                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef> Carrello </th>
                        <td mat-cell *matCellDef="let element" class="font-weight-bold"> {{element.nomeCarrello}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Stato </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="status-chip" [ngClass]="element.inUso ? 'status-busy' : 'status-available'">
                                <mat-icon>{{element.inUso ? 'lock' : 'check_circle'}}</mat-icon>
                                {{element.inUso ? 'In Uso' : 'Disponibile'}}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="totElementi">
                        <th mat-header-cell *matHeaderCellDef> Elementi </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="count-badge">{{element.contenuto ? element.contenuto.length : 0}} articoli</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Ultimo">
                        <th mat-header-cell *matHeaderCellDef> Ultimo Utilizzo </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.dataUtilizzo ? (element.dataUtilizzo | date: 'dd/MM/yyyy HH:mm') : '-'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-end"> Azioni </th>
                        <td mat-cell *matCellDef="let row" class="text-end">
                            <button mat-icon-button color="primary" (click)="openDialog(row)" matTooltip="Gestisci Carrello">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator #paginatorNonUso [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-tab>

        <!-- Tab 2: Registro Attività -->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="me-2">history</mat-icon>
                Registro Attività
            </ng-template>

            <div class="table-container mat-elevation-z2 mt-3">
                <table mat-table [dataSource]="dataSourceReg" class="full-width-table">

                    <ng-container matColumnDef="Carrello">
                        <th mat-header-cell *matHeaderCellDef> Carrello </th>
                        <td mat-cell *matCellDef="let element"> {{element.carrelloName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Elemento">
                        <th mat-header-cell *matHeaderCellDef> Elemento </th>
                        <td mat-cell *matCellDef="let element"> {{element.elemento ? element.elemento : '-'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Operazione">
                        <th mat-header-cell *matHeaderCellDef> Operazione </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="operation-tag">{{element.operation}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Quantita">
                        <th mat-header-cell *matHeaderCellDef> Q.tà </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.quantita != null ? element.quantita : '-'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Res">
                        <th mat-header-cell *matHeaderCellDef> Q.tà Res. </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.quantitaRes != null ? element.quantitaRes : '-'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="DataModifica">
                        <th mat-header-cell *matHeaderCellDef> Data e Ora </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataModifica | date: 'dd/MM/yyyy HH:mm'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Operatore">
                        <th mat-header-cell *matHeaderCellDef> Operatore </th>
                        <td mat-cell *matCellDef="let element"> {{element.operatorName}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsReg"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsReg;"></tr>
                </table>

                <mat-paginator #paginatorReg [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
