<mat-dialog-content>
    <ng-container *ngIf="data.disabled">
        <h1 class="title">Curriculum Vitae: {{ data.cv.cognome }} {{ data.cv.nome }}</h1>
    </ng-container>
    <ng-container *ngIf="!data.disabled">
        <h1 class="title">Nuovo Curriculum Vitae</h1>

        <div class="container-flex" style="margin: 20px 0px;" *ngIf="uploadingCV">
            <div class="row">
                <div class="col-1">
                    <mat-spinner [diameter]="24"></mat-spinner>
                </div>
                <div class="col">
                    <label>Caricamento in corso...</label>
                </div>
            </div>
        </div>

        <div class="container-flex" *ngIf="!uploadingCV">
            <div class="row">
                <div class="col">
                    <input type="file" (change)="uploadCV($event)" accept=".pdf">
                </div>
            </div>
        </div>
    </ng-container>
    <hr>

    <div class="row">
        <div class="col">
            <mat-form-field class="full" appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Inserisci il nome" [(ngModel)]="nuovoCurriculum.nome" [disabled]="data.disabled">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field class="full" appearance="fill">
                <mat-label>Cognome</mat-label>
                <input matInput placeholder="Inserisci il cognome" [(ngModel)]="nuovoCurriculum.cognome" [disabled]="data.disabled">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field class="full" appearance="fill">
                <mat-label>Codice Fiscale</mat-label>
                <input matInput placeholder="Inserisci il codice fiscale" [(ngModel)]="nuovoCurriculum.codiceFiscale" [disabled]="data.disabled">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>Mansione</label>
        </div>
        <div class="col">
            <select matNativeControl required [(ngModel)]="nuovoCurriculum.mansione" [disabled]="data.disabled">
                <option value="">Seleziona...</option>
                <option value="Amministrativo">Amministrativo</option>
                <option value="Neurologo">Neurologo</option>
                <option value="Medico">Medico</option>
                <option value="Psicologo">Psicologo</option>
                <option value="Assistente">Assistente</option>
                <option value="Sociale">Sociale</option>
                <option value="OSS">OSS</option>
                <option value="Fisioterapista">Fisioterapista</option>
                <option value="Infermiere">Infermiere</option>
                <option value="Educatore">Educatore</option>
                <option value="Ausiliare">Ausiliare</option>
                <option value="Cuoco">Cuoco</option>
                <option value="Altro">Altro</option>
            </select>
        </div>
    </div>
    <br />

    <hr>

    <div class="row">
        <div class="col">
            <label>Stato</label>
        </div>
        <div class="col">
            <select matNativeControl [(ngModel)]="nuovoCurriculum.status">
                <option selected value="Da Valutare">Da Valutare</option>
                <option selected value="In forse">In forse</option>
                <option value="Qualificato">Qualificato</option>
                <option value="Non Qualificato">Non Qualificato</option>
                <option value="Assunto">Assunto</option>
            </select>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col">
            <mat-form-field class="full" appearance="fill">
                <mat-label>Note</mat-label>
                <input matInput placeholder="Inserisci le note" [(ngModel)]="nuovoCurriculum.note" [disabled]="data.disabled">
            </mat-form-field>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="start">
    <button mat-button [mat-dialog-close]="undefined">Chiudi</button>
    <button mat-button class="button-insert" (click)="save()" *ngIf="!data.disabled">Salva</button>
    <button mat-button [mat-dialog-close]="true" class="button-insert" (click)="edit()" *ngIf="data.disabled">Modifica</button>
</mat-dialog-actions>
