
<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">AREA OSS - Registro controllo Sanificazione</h1>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">


        <table mat-table [dataSource]="registroSanficazioneDataSource" class="mat-elevation-z8" style="width: 100%;" >
          <ng-container matColumnDef="cameraId">
            <th mat-header-cell *matHeaderCellDef> Camera </th>
            <td mat-cell *matCellDef="let element"> {{element.cameraInfo.camera}} </td>
          </ng-container>

          <ng-container matColumnDef="stato">
            <th mat-header-cell *matHeaderCellDef> Stato </th>
            <td mat-cell *matCellDef="let element"> {{element.stato | sanificate}} </td>
          </ng-container>

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy hh:ss'}} </td>
          </ng-container>

          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
          </ng-container>

          <ng-container matColumnDef="firma">
            <th mat-header-cell *matHeaderCellDef> Firma </th>
            <td mat-cell *matCellDef="let element"> {{element.firma}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
        </table>

        <div class="paginator-container">

          <mat-paginator #ControlliOSSPaginator [pageSizeOptions]="[5,10,20,30]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
    </div>
  </div>
</div>
