<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Tipo Costituzionale</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <select matNativeControl required multiple [(ngModel)]="element.tipocostituzionale" >
              <option selected="">Seleziona ...</option>
              <option value="ansioso">normotipo</option>
              <option value="apatico">branchitipo</option>
              <option value="aggressivo">longitipo</option>
            </select>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Condizioni Generali</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="fill">

            <select matNativeControl required multiple [(ngModel)]="element.condizionigenerali" >
              <option selected="">Seleziona ...</option>
              <option value="buone">buone</option>
              <option value="discrete">discrete</option>
              <option value="scadute">scadute</option>
            </select>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Nutrizione</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="fill">

            <select matNativeControl required multiple [(ngModel)]="element.nutrizione">
              <option selected="">Seleziona ...</option>
              <option value="adeguata">adeguata</option>
              <option value="insufficiente">insufficiente</option>
              <option value="obesita">obesità</option>
              <option value="cachessia">cachessia</option>
            </select>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cute e Mucose</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.cute" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>SISTEMA LINFONODALE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.sistemalinfo" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>CAPO E COLLO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.capocollo" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>PROTESI/AUSILI</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.protesi" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>APPARATO UROGENITALE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.apparatourogenitale" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>APPARATO MUSCOLOSCHELETRICO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.apparatomuscholoscheletrico" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>APPARATO CARDIOVASCOLARE</mat-card-title>
          <mat-card-subtitle>Cuore</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <textarea class="form-control value_input" [(ngModel)]="element.apparatocardio" rows="1" cols="150" ></textarea>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Freq.Cardiaca/min</mat-label>
                  <input matInput placeholder="Inserisci" [(ngModel)]="element.frequenza">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Pressione arteriosa</mat-label>
                  <input matInput placeholder="Inserisci" [(ngModel)]="element.pressionearteriosa">
                </mat-form-field>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Polsi arteriosi</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.polsiarteriosi" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>APPARATO RESPIRATORIO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" [(ngModel)]="element.apparatorespiratorio" rows="1" cols="150" ></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>APPARATO DIGERENTE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Addome</mat-label>
                  <textarea matInput placeholder="Inserisci qui" [(ngModel)]="element.addome"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Fegato</mat-label>
                  <textarea matInput placeholder="Inserisci qui" [(ngModel)]="element.fegato"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Milza</mat-label>
                  <textarea matInput placeholder="Inserisci qui" [(ngModel)]="element.milza"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
