<div class="container-fluid pad">
    <div class="row mb-3">
        <div class="col">
            <h1 class="title m-0">Area personale</h1>
        </div>
    </div>

    <mat-tab-group mat-align-tabs="start">
        <!-- FERIE -->
        <mat-tab label="Ferie">
            <div class="pt-3">
                <app-ferie [data]="dipendente" [isExternal]="isExternal"></app-ferie>
            </div>
        </mat-tab>

        <!-- PERMESSI -->
        <mat-tab label="Permessi">
            <div class="pt-3">
                <app-permessi [data]="dipendente" [isExternal]="isExternal"></app-permessi>
            </div>
        </mat-tab>

        <!-- CAMBI TURNO -->
        <mat-tab label="Cambi turno">
            <div class="pt-3">
                <app-cambiturno [data]="dipendente" [dipendente]="dipendente" [isExternal]="isExternal"></app-cambiturno>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div mat-dialog-actions>
        <div class="bottom-actions"></div>
    </div>
</div>
