<div class="containter pad">
  <div class="row">
    <div class="col">
      <h1 class="title">AREA CAMERE</h1>
    </div>
  </div>

  <hr />


  <div class="row">
    <div class="col">
      <table mat-table [dataSource]="dataSourceCamere" class="mat-elevation-z8">

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="right">
              <img src="../../../assets/sanitize.svg"  matTooltip="Sanifica la stanza" (click)="sanifica(row)">
              <!-- <button mat-raised-button color="warn" style="margin-right: 10px" >Visualizza</button> -->
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="camera">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.camera}} </td>
        </ng-container>

        <ng-container matColumnDef="sanificata">
          <th mat-header-cell *matHeaderCellDef> Stato </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.sanificata ? 'rgb(0 96 0)': 'rgb(179 0 0)'}"> {{element.sanificata | sanificate}} </td>
        </ng-container>

        <ng-container matColumnDef="dataSanificazione">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{element.dataSanificazione | date: 'dd/MM/yyyy':'UTC'}} </td>
        </ng-container>

        <ng-container matColumnDef="firmaSanificazione">
          <th mat-header-cell *matHeaderCellDef> Firma </th>
          <td mat-cell *matCellDef="let element"> {{element.userSanificazione?.username}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>

  </div>

</div>
