

<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">AREA MEDICA</h1>
      CC = Cartella Clinica, CI = Cartella Infermieristica

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <!-- <app-table-ospiti (showItemEmiter)="show($event)"  [eventPazienti]="eventsSubject.asObservable()" [buttons]='["CC", "CI"]'></app-table-ospiti> -->

      <app-table-ospiti
        [eventPazienti]="eventsSubject.asObservable()"
        [insertFunction]="getInsertFunction()"
        [showPatient]="showFunction"
        [enableShow]=false
        [enableDeleting]=false
        [showInsert]=true
        [enableCustomButton]=true
        [CustomButtons] = customButtons
        >
      </app-table-ospiti>
    </div>
  </div>
</div>
