<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h4>PROTOCOLLO MEDICAZIONE INIZIALE LESIONI DA DECUBITO</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>STADIO</th>
                      <th>DETERSIONE</th>
                      <th>MEDICAZIONE</th>
                      <th>CADENZA</th>
                      <th>AREA CIRCOSTANTE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>I-II</td>
                      <td>
                        Soluzione fisiologica o Ringer Lattato
                      </td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">Pellicola semipermeabile trasparente di poliuretano(I)</option>
                          <option value="2">Idrocolloidi ultrasottili(I-II)</option>
                          <option value="3">Schiuma di pliuretano(II)</option>
                        </select>
                      </td>
                      <td>
                        1 volta alla settimana oppure SO
                      </td>

                      <td>
                        Crema base o emolliente all'acqua o allo zinco
                      </td>
                    </tr>

                    <tr>
                      <td>FLITTENE</td>
                      <td>
                        Idem
                      </td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">Forare senza rimuovere il tetto</option>
                          <option value="3">Schiuma di pliuretano</option>
                        </select>
                      </td>
                      <td>
                        1 volta alla settimana oppure SO
                      </td>

                      <td>
                        Idem
                      </td>
                    </tr>

                    <tr>
                      <td>III-IV</td>
                      <td>
                        Idem
                      </td>
                      <td>
                        Vedi specifiche
                      </td>
                      <td>

                      </td>

                      <td>
                        Idem
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col">
                <h4>SPECIFICHE</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>VARIANTE LESIONE</th>
                      <th>MEDICAZIONE</th>
                      <th>CADENZA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Escara</td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">Pomate enzimatiche + garze</option>
                          <option value="2">Idrogeli + schiuma pliuretano</option>
                          <option value="3">Rimozione chirurgica graduale</option>
                          <option value="4">Rimozione chirurgica totale</option>
                        </select>
                      </td>
                      <td>
                        Ogni 24-72 ore Rinnovo pomate enzimatiche ogni 8 ore
                      </td>

                    </tr>



                    <tr>
                      <td>Emorragica</td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">Alginati + garze sterili</option>
                        </select>
                      </td>
                      <td>
                        Ogni 8-24 ore
                      </td>

                    </tr>

                    <tr>
                      <td>Essudativa/Necrotica/Fibrinosa</td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">Idrogeli + schiuma di poliuretano o placca idrocolloidale</option>
                          <option value="1">fibra idrocolloidale + placca </option>
                        </select>
                      </td>
                      <td>
                        Ogni 24-72 ore
                      </td>

                    </tr>


                    <tr>
                      <td>Cavitaria e/o con abbondante essudato</td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">tampone schiuma di poliuretano + schiuma di poliuretano</option>
                          <option value="1">fibra idrocolloidale + placca </option>
                        </select>
                      </td>
                      <td>
                        Da giorni alterni a ogni 3 giorni
                      </td>

                    </tr>

                    <tr>
                      <td>Granuleggiante</td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">schiuma di poliuretano</option>
                          <option value="1">placca idrocolloidale</option>
                        </select>
                      </td>
                      <td>
                        1 volta alla settimana o SO
                      </td>

                    </tr>

                    <tr>
                      <td>Infetta</td>
                      <td>
                        <select class="custom-select" [disabled]=disable>
                          <option selected="">Seleziona ...</option>
                          <option value="1">fibra idrocolloidale + garza(Evitare l'occlusione)</option>
                        </select>
                      </td>
                      <td>
                        Ogni 24 ore
                      </td>

                    </tr>



                  </tbody>
                </table>
              </div>
            </div>

          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
