<mat-card>
  <mat-card-title>
    <img src="../../../assets/larinascitasrl.jpg">
  </mat-card-title>

  <mat-card-subtitle>
    <div class="container-flex">
      <!-- <div class="row">
        <div class="col">
          <h2>Login</h2>
        </div>
      </div> -->

      <div class="row">
        <div class="col">
          Bentornato
        </div>
      </div>

      <div class="row">
        <div class="col">
          Esegui l'accesso
        </div>
      </div>
    </div>

  </mat-card-subtitle>
  <mat-card-content>
    <div>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" [(ngModel)]="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)]="password">
        </mat-form-field>
      </p>

      <!-- <p class="error">
      </p> -->

      <div class="button">
        <button mat-button (click)="access()">Login</button>
      </div>


      <div>
        © 2020-2021
      </div>

      <div *ngIf="messageError !== ''" style="color:red">
        {{messageError}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
