.fill {
  width: 100%;
}

.tabcontent {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-info {
  color: #fff;
  background-color: #23c6c8;
  border-color: #23c6c8;
  margin-bottom: 7px;
}

.inputTabel {
  width: 90%;
}

.paddingRowTable {
  padding-bottom: 6px;
}

.mat-column-control {
  width: 16%;
  text-align: center;
}

.mat-column-data {
  width: 15%;
}
