<mat-dialog-content class="dialog-container">
    <div class="dialog-header">
        <div class="row">
            <div class="col-10">
                <h2 class="consultant-name">Fornitore: {{fornitore.nome}} {{fornitore.cognome}}</h2>
            </div>
            <div class="col-1">
                <button mat-raised-button color="primary" (click)="save(false)" title="Salva" [disabled]=uploading><mat-icon>save</mat-icon></button>
            </div>
            <div class="col-1">
                <button mat-button title="Chiudi" [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
            </div>
        </div>
    </div>
    <mat-tab-group mat-align-tabs="start" class="main-tabs">
        <!-- ANAGRAFICA -->
        <mat-tab label="Dati anagrafici generale">
            <app-fornitore-generale [disable]=false [data]=fornitore (dataChange)="changeData($event)">
            </app-fornitore-generale>
        </mat-tab>

        <!-- ARCHIVIO FATTURE -->
        <mat-tab label="Archivio Fatture" [disabled]="fornitore?._id === undefined">
            <!-- Search Bar -->
            <div class="search-bar" style="margin: 16px 0">
                <mat-form-field appearance="outline" class="search-field" style="width: 100%">
                    <mat-label>Cerca</mat-label>
                    <input matInput (keyup)="applyFilter($event,'Fatture')" [(ngModel)]="inputSearchFieldFat">
                    <button mat-icon-button matSuffix (click)="cleanSearchField('Fatture')">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <!-- Add Button -->
            <div class="action-area" *ngIf="!addingFattura">
                <button mat-raised-button color="primary" (click)="addFattura()">
                    <mat-icon>add</mat-icon>
                    Aggiungi Fattura
                </button>
            </div>

            <!-- Upload Form -->
            <div class="upload-form" *ngIf="addingFattura && !uploadingFattura">
                <div class="upload-area">
                    <input type="file" (change)="uploadFattura($event)" accept=".pdf" class="file-input">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Note</mat-label>
                        <input matInput [(ngModel)]="nuovaFattura.note" placeholder="Inserisci delle note">
                    </mat-form-field>

                    <button mat-raised-button color="primary" (click)="saveFattura(nuovaFattura)">
                        <mat-icon>save</mat-icon>
                        Salva
                    </button>
                    <button mat-raised-button class="btn btn-danger" (click)="annulla('Fattura')">
                        <mat-icon>cancel</mat-icon>
                        Annulla
                    </button>
                </div>
            </div>

            <!-- Loading Indicator -->
            <div class="loading-indicator" *ngIf="uploadingFattura" style="display: flex; align-items: center; margin: 16px 0">
                <mat-spinner [diameter]="24"></mat-spinner>
                <span style="margin-left: 12px">Caricamento in corso...</span>
            </div>

            <div *ngIf="this.fatture?.length <= 0" class="notPresent" style="margin: 24px 0; text-align: center; color: #666">
                Nessuna fattura presente
            </div>

            <table mat-table [dataSource]="fattureDataSource" class="mat-elevation-z8" *ngIf="this.fatture?.length > 0" style="width: 100%">
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" style="width: 120px; text-align: right;">
                        <button mat-icon-button (click)="showFattureDocument(row)" color="warn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="color:red" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                            </svg>
                        </button>
                        <button mat-icon-button (click)="deleteFattura(row)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="namefile">
                    <th mat-header-cell *matHeaderCellDef> Nome file </th>
                    <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef> Note </th>
                    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="fattureDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: fattureDisplayedColumns;"></tr>
            </table>

            <mat-paginator #paginatorFatture [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                           aria-label="Select page of periodic elements" >
            </mat-paginator>
        </mat-tab>

        <!-- ARCHIVO BONIFICI -->
        <mat-tab label="Archivio bonifici" [disabled]="fornitore?._id === undefined">
            <!-- Search Bar -->
            <div class="search-bar" style="margin: 16px 0">
                <mat-form-field appearance="outline" class="search-field" style="width: 100%">
                    <mat-label>Cerca</mat-label>
                    <input matInput (keyup)="applyFilter($event,'Bonifici')" [(ngModel)]="inputSearchFieldBon">
                    <button mat-icon-button matSuffix (click)="cleanSearchField('Bonifici')">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <!-- Add Button -->
            <div class="action-area" *ngIf="!addingBonifici">
                <button mat-raised-button color="primary" (click)="addBonifico()">
                    <mat-icon>add</mat-icon>
                    Aggiungi Bonifico
                </button>
            </div>

            <!-- Upload Form -->
            <div class="upload-form" *ngIf="addingBonifici && !uploadingBonifici">
                <div class="upload-area">
                    <input type="file" (change)="uploadBonifico($event)" accept=".pdf" class="file-input">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Note</mat-label>
                        <input matInput [(ngModel)]="nuovaBonifico.note" placeholder="Inserisci delle note">
                    </mat-form-field>

                    <button mat-raised-button color="primary" (click)="saveBonifico(nuovaBonifico)">
                        <mat-icon>save</mat-icon>
                        Salva
                    </button>
                    <button mat-raised-button class="btn btn-danger" (click)="annulla('Bonifico')">
                        <mat-icon>cancel</mat-icon>
                        Annulla
                    </button>
                </div>
            </div>

            <!-- Loading Indicator -->
            <div class="loading-indicator" *ngIf="uploadingBonifici">
                <mat-spinner [diameter]="24"></mat-spinner>
                <span>Caricamento in corso...</span>
            </div>

            <div *ngIf="this.bonifici?.length <= 0" class="notPresent" style="margin: 24px 0; text-align: center; color: #666">
                Nessun bonifico, assegno o contante presente
            </div>

            <table mat-table [dataSource]="bonificiDataSource" class="mat-elevation-z8" *ngIf="this.bonifici?.length > 0" style="width: 100%">
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" style="width: 120px; text-align: right;">
                        <button mat-icon-button (click)="showBonificoDocument(row)" color="warn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="color:red" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                            </svg>
                        </button>
                        <button mat-icon-button (click)="deleteBonifico(row)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="namefile">
                    <th mat-header-cell *matHeaderCellDef> Nome file </th>
                    <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef> Note </th>
                    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="fattureDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: fattureDisplayedColumns;"></tr>
            </table>

            <mat-paginator #paginatorBonifici [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                           aria-label="Select page of periodic elements"  >
            </mat-paginator>
        </mat-tab>

        <!-- DOCUMENTAZIONE -->
        <mat-tab label="Documentazione" [disabled]="fornitore?._id === undefined">
            <!-- Search Bar -->
            <div class="search-bar" style="margin: 16px 0">
                <mat-form-field appearance="outline" class="search-field" style="width: 100%">
                    <mat-label>Cerca</mat-label>
                    <input matInput (keyup)="applyFilter($event,'Documenti')" [(ngModel)]="inputSearchFieldDoc">
                    <button mat-icon-button matSuffix (click)="cleanSearchField('Documenti')">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <!-- Add Button -->
            <div class="action-area" *ngIf="!addingDocumentoFornitore">
                <button mat-raised-button color="primary" (click)="addDocumentoFornitore()">
                    <mat-icon>add</mat-icon>
                    Aggiungi Documento
                </button>
            </div>

            <!-- Upload Form -->
            <div class="upload-form" *ngIf="addingDocumentoFornitore && !uploadingDocumentoFornitore">
                <div class="upload-area">
                    <input type="file" (change)="uploadDocumentoFornitore($event)" accept=".pdf" class="file-input">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Note</mat-label>
                        <input matInput [(ngModel)]="nuovoDocumentoFornitore.note" placeholder="Inserisci delle note">
                    </mat-form-field>

                    <button mat-raised-button color="primary" (click)="saveDocumentoFornitore(nuovoDocumentoFornitore)">
                        <mat-icon>save</mat-icon>
                        Salva
                    </button>
                    <button mat-raised-button class="btn btn-danger" (click)="annulla('Documento')">
                        <mat-icon>cancel</mat-icon>
                        Annulla
                    </button>
                </div>
            </div>

            <!-- Loading Indicator -->
            <div class="loading-indicator" *ngIf="uploadingDocumentoFornitore" style="display: flex; align-items: center; margin: 16px 0">
                <mat-spinner [diameter]="24"></mat-spinner>
                <span style="margin-left: 12px">Caricamento in corso...</span>
            </div>

            <div *ngIf="this.documentiFornitore?.length <= 0" class="notPresent" style="margin: 24px 0; text-align: center; color: #666">
                Nessun documento presente
            </div>

            <table mat-table [dataSource]="documentiFornitoreDataSource" class="mat-elevation-z8" *ngIf="this.documentiFornitore?.length > 0" style="width: 100%">
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" style="width: 120px; text-align: right;">
                        <button mat-icon-button (click)="showDocumentoFornitoreDocument(row)" color="warn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="color:red" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                            </svg>
                        </button>
                        <button mat-icon-button (click)="deleteDocumentoFornitore(row)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="namefile">
                    <th mat-header-cell *matHeaderCellDef> Nome file </th>
                    <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef> Note </th>
                    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="fattureDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: fattureDisplayedColumns;"></tr>
            </table>

            <mat-paginator #paginatorDocumentiFornitori [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

