<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">AREA Amministrativa Pazienti</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <!-- <app-table-ospiti
      [eventPazienti]="eventsSubject.asObservable()"
      [insertFunction]="getInsertFunction()"
      [showFunction]="showFunction"
      [enableDeleting]=true
      [showInsert]=true></app-table-ospiti> -->


      <app-table-ospiti
      [eventPazienti]="eventsSubject.asObservable()"
      [insertFunction]="getInsertFunction()"
      [showPatient]="showFunction"
      [deletePatient]="deletePaziente"
      [enableShow]=true
      [enableDeleting]=true
      [showInsert]=true>
    </app-table-ospiti>
    </div>
  </div>
</div>
