.example-card {
  min-width: 500px;
  margin: 0px;
}

h3 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 12px;
  color: #676a6c;
}

.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background: transparent;
  border: transparent;

  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}

button,
select {
  text-transform: none;
}

.button-save {
  color: #fff;
  background-color: #1ab394;
  border-color: #1ab394;
}

.mat-card-content > :last-child:not(.mat-card-footer),
.mat-card > :last-child:not(.mat-card-footer) {
  width: 100%;
}

.mat-dialog-title {
  margin: 0px;
}

.mat-form-field {
  width: 100%;
}

label {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #676a6c;
}

/* .mat-tab-group {
  height: 593px;
} */

span {
  font-size: 10px;
}

::ng-deep .mat-tab-group {
  min-height: 593px !important;
}

::ng-deep .mat-tab-body-wrapper {
  min-height: 540px;
}

.notPresent {
  text-align: center;
  padding-top: 42px;
}

.paginator-container {
  position: absolute !important;
  bottom: 0px !important;
  width: 100%;
}
.center {
  text-align: center;
  margin: 10px 0 10px 0;
}

table {
  width: 100%;
}

.full {
  width: 100%;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #0099ff;
}

.right {
  text-align: right;
}

.upload-button {
  top: -12px;
}

.example-card {
  max-width: 400px;
}

.mat-card-avatar {
  border-radius: unset;
}

.example-header-image {
  background-image: url("../../../assets/contratto.png");
  background-size: cover;
}

.mat-card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 3px 2px 16px 0px rgba(0, 0, 0, 0.48);
}
