h2 {
  font-size: 24px;
  text-transform: capitalize;
  color: #676a6c;
}

.table_mese {
  border: 1px #ddd solid;
  width: 100%;
}

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
}

.cal_head {
  color: #676a6c;
  font-weight: bold;
  text-align: center;
}


tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.label_day {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  padding: 2px;
}

.cal_day {
  padding: 0px;
  border: 1px solid #ddd;
  width: 150px;
}

.container_event {
  min-height: 100px;
}


.ferial_day {
  color: #676a6c;
}

.festivo_day {
  color: red;
}

.disabled {
  background-color: #80808042;
}

.badge{
  font-size: inherit;
  color: inherit;
}

.event_type {
  background-color: white;
  margin: 0 3px 0px 3px;
  font-size: 11px;
  color: black;
  padding: 3px;
  border-radius: 5px;
  margin-top: 2px;
}

.event_type_medico {
  background-color: #ff9100;
  color: white;
}
.event_type_admin {
  background-color: #ff0000;
  color: white;
}
.event_type_infermiere {
  background-color: #ffd000;
  color: black;
}
.event_type_oss {
  background-color: #34bb1a;
  color: white;
}
.event_type_psicologo {
  background-color: #9b32c4;
  color: white;
}
.event_type_sociale {
  background-color: #000000;
  color: white;
}
.event_type_ausiliare {
  background-color: #0084ff;
  color: white;
}
.event_type_cuoco {
  background-color: #8a575e;
  color: white;
}
.event_type_corsi {
  background-color: dodgerblue;
  color: white;
}

.event_type_corsiFormazione {
  background-color: blue;
  color: white;
}

.event_type_controlli {
  background-color: orange;
  color: black;
}

.event_type_agendaClinica {
  background-color: royalblue;
  color: white;
}

.title {
  text-align: center;
}
