<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <button mat-button (click)="prev()" title="Precedente">
        <fa-icon icon="chevron-left"></fa-icon>
      </button>
    </div>
    <div class="col">
      <h2 class="title">{{calendar_day.format('MMMM YYYY')}}</h2>
    </div>
    <div class="col-1">
      <button mat-button (click)="succ()" title="Successivo">
        <fa-icon icon="chevron-right"></fa-icon>
      </button>
    </div>

    <div class="col-1">
      <button mat-button (click)="calendarWeek()" title="Visualiz. Settimana">
        <fa-icon icon="calendar-week"></fa-icon>
      </button>
    </div>
    <div class="col-1">
      <button mat-button (click)="calendarMonth()" title="Visualiz. Mensile">
        <fa-icon icon="calendar-alt"></fa-icon>
      </button>
    </div>
  </div>
</div>

<table class="table_mese" *ngIf="isCalendarMonthEnabled">
  <tbody>
    <tr>

      <td>
        <div class="cal_head">Lun</div>
      </td>
      <td>
        <div class="cal_head">Mar</div>
      </td>
      <td>
        <div class="cal_head">Mer</div>
      </td>
      <td>
        <div class="cal_head">Gio</div>
      </td>
      <td>
        <div class="cal_head">Ven</div>
      </td>
      <td>
        <div class="cal_head">Sab</div>
      </td>
      <td>
        <div class="cal_head festivo_day">Dom</div>
      </td>
    </tr>
    <tr>
      <td class="cal_day" [ngClass]="{'disabled': item.isBefore(today,'day')}"
        *ngFor="let item of this.calendar[0].days; let indexOfelement=index;"
        (click)="createEvent(item, this.calendar[0], indexOfelement)">
        <div class="label_day ferial_day"
          [ngClass]="{'ferial_day': item.toDate().getDay() !==0, 'festivo_day': item.toDate().getDay() ===0 }">
          {{item.format("DD")}}</div>

        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[0], indexOfelement )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cal_day" [ngClass]="{'disabled': item.isBefore(today,'day')}"
        *ngFor="let item of this.calendar[1].days; let indexOfelement=index;"
        (click)="createEvent(item, this.calendar[1], indexOfelement)">
        <div class="label_day ferial_day"
          [ngClass]="{'ferial_day': item.toDate().getDay() !==0, 'festivo_day': item.toDate().getDay() ===0 }">
          {{item.format("DD")}}</div>

        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[1], indexOfelement )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cal_day" [ngClass]="{'disabled': item.isBefore(today,'day')}"
        *ngFor="let item of this.calendar[2].days; let indexOfelement=index;"
        (click)="createEvent(item, this.calendar[2], indexOfelement)">
        <div class="label_day ferial_day"
          [ngClass]="{'ferial_day': item.toDate().getDay() !==0, 'festivo_day': item.toDate().getDay() ===0 }">
          {{item.format("DD")}}</div>

        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[2], indexOfelement )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cal_day" [ngClass]="{'disabled': item.isBefore(today,'day')}"
        *ngFor="let item of this.calendar[3].days; let indexOfelement=index;"
        (click)="createEvent(item, this.calendar[3], indexOfelement)">
        <div class="label_day ferial_day"
          [ngClass]="{'ferial_day': item.toDate().getDay() !==0, 'festivo_day': item.toDate().getDay() ===0 }">
          {{item.format("DD")}}</div>

        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[3], indexOfelement )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="cal_day" [ngClass]="{'disabled': item.isBefore(today,'day')}"
        *ngFor="let item of this.calendar[4].days; let indexOfelement=index;"
        (click)="createEvent(item, this.calendar[4], indexOfelement)">
        <div class="label_day ferial_day"
          [ngClass]="{'ferial_day': item.toDate().getDay() !==0, 'festivo_day': item.toDate().getDay() ===0 }">
          {{item.format("DD")}}</div>

        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[4], indexOfelement )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>



<table class="table_mese" *ngIf="isCalendarWeekEnabled">
  <thead>
    <tr>
      <td [ngClass]="{'disabled': this.calendar[index_week].days[0].isBefore(today,'day')}">
        <div class="cal_head">
          <div class="conteiner-fluid">
            <div class="row">
              <div class="col">Lun</div>
            </div>
            <div class="row">
              <div class="col">
                {{this.calendar[index_week].days[0] | date: 'dd' }}
              </div>
            </div>
          </div>
        </div>
      </td>
      <td [ngClass]="{'disabled': this.calendar[index_week].days[1].isBefore(today,'day')}">
        <div class="cal_head">
          <div class="conteiner-fluid">
            <div class="row">
              <div class="col">Mar</div>
            </div>
            <div class="row">
              <div class="col">
                {{this.calendar[index_week].days[1] | date: 'dd' }}
              </div>
            </div>
          </div>
        </div>
      </td>
      <td [ngClass]="{'disabled': this.calendar[index_week].days[2].isBefore(today,'day')}">
        <div class="cal_head">
          <div class="conteiner-fluid">
            <div class="row">
              <div class="col">Mer</div>
            </div>
            <div class="row">
              <div class="col">
                {{this.calendar[index_week].days[2] | date: 'dd' }}
              </div>
            </div>
          </div>
        </div>
      </td>
      <td [ngClass]="{'disabled': this.calendar[index_week].days[3].isBefore(today,'day')}">
        <div class="cal_head">
          <div class="conteiner-fluid">
            <div class="row">
              <div class="col">Gio</div>
            </div>
            <div class="row">
              <div class="col">
                {{this.calendar[index_week].days[3] | date: 'dd' }}
              </div>
            </div>
          </div>
        </div>
      </td>
      <td [ngClass]="{'disabled': this.calendar[index_week].days[4].isBefore(today,'day')}">
        <div class="cal_head">
          <div class="conteiner-fluid">
            <div class="row">
              <div class="col">Ven</div>
            </div>
            <div class="row">
              <div class="col">
                {{this.calendar[index_week].days[4] | date: 'dd' }}
              </div>
            </div>
          </div>
        </div>
      </td>
      <td [ngClass]="{'disabled': this.calendar[index_week].days[5].isBefore(today,'day')}">
        <div class="cal_head">
          <div class="conteiner-fluid">
            <div class="row">
              <div class="col">Sab</div>
            </div>
            <div class="row">
              <div class="col">
                {{this.calendar[index_week].days[5] | date: 'dd' }}
              </div>
            </div>
          </div>
        </div>
      </td>
      <td [ngClass]="{'disabled': this.calendar[index_week].days[6].isBefore(today,'day')}">
        <div class="cal_head festivo_day">
          <div class="conteiner-fluid">
            <div class="row">
              <div class="col">Dom</div>
            </div>
            <div class="row">
              <div class="col">
                {{this.calendar[index_week].days[6] | date: 'dd' }}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="cal_day" [ngClass]="{'disabled': this.calendar[index_week].days[0].isBefore(today,'day')}"
        (click)="createEvent(this.calendar[index_week].days[0], this.calendar[index_week], 0)">
        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[index_week], 0)">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>

      <td class="cal_day" [ngClass]="{'disabled': this.calendar[index_week].days[1].isBefore(today,'day')}"
        (click)="createEvent(this.calendar[index_week].days[1], this.calendar[index_week], 1)">
        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[index_week], 1 )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>

      <td class="cal_day" [ngClass]="{'disabled': this.calendar[index_week].days[2].isBefore(today,'day')}"
        (click)="createEvent(this.calendar[index_week].days[2], this.calendar[index_week], 2)">
        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[index_week], 2)">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>

      <td class="cal_day" [ngClass]="{'disabled': this.calendar[index_week].days[3].isBefore(today,'day')}"
        (click)="createEvent(this.calendar[index_week].days[3], this.calendar[index_week], 3)">
        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[index_week], 3 )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>

      <td  class="cal_day" [ngClass]="{'disabled': this.calendar[index_week].days[4].isBefore(today,'day')}"
        (click)="createEvent(this.calendar[index_week].days[4], this.calendar[index_week], 4)">
        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[index_week], 4 )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>

      <td class="cal_day" [ngClass]="{'disabled': this.calendar[index_week].days[5].isBefore(today,'day')}"
        (click)="createEvent(this.calendar[index_week].days[5], this.calendar[index_week], 5)">
        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[index_week], 5 )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>

      <td class="cal_day" [ngClass]="{'disabled': this.calendar[index_week].days[6].isBefore(today,'day')}"
        (click)="createEvent(this.calendar[index_week].days[6], this.calendar[index_week], 6)">
        <div class="container_event droppable" tipo_cont="mese">
          <div class="event_type" *ngFor="let event of getEvent(this.calendar[index_week], 6 )">
            <span class="badge ">{{event?.data | date: 'HH:mm'}}</span><span>{{event?.descrizione}} </span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
