li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
  display: block;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
  padding: 0
}

fa-icon {
  margin-right: 6px;
}
