li > a {
  color: #a7b1c2;
  /* font-weight: 600; */
  padding: 6px 3px 6px 10px;
  display: block;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
  padding: 0
}

fa-icon {
  margin-right: 6px;
}

/*
.active {
   color: red;
}
*/
