<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>CARTELLA SOCIOPSICOLOGICA</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Generale">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <app-paziente-generale [disable]=true [data]=data.paziente></app-paziente-generale>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>DIAGNOSI D’INGRESSO</label>
                  <textarea class="form-control" rows="5" cols="150"
                    [(ngModel)]="data.paziente.schedaInfermeristica.diagnosi"></textarea>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col">
                  <label>RASSEGNA ANAMNESTICA</label>
                  <textarea class="form-control" rows="5" cols="150"
                    [(ngModel)]="data.paziente.schedaInfermeristica.diagnosi"></textarea>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col">
                  <label>DIMISSIONE</label>
                  <div class="form-group" >
                    <span>{{data.paziente.dimissione?.typeDimissione}}</span>
                  </div>
                </div>
                <div class="col">
                  <label>DATA</label>
                  <div class="form-group" >
                      <span>{{data.paziente.schedaInfermeristica.dimissione | date: 'dd/MM/yyyy'}}</span>
                  </div>
                </div>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="Esame Psichico">
            <app-esame-pisico [schedaPsico]=schedaPsico></app-esame-pisico>
          </mat-tab>
          <mat-tab label="Valutazione Psicologica Clinica">
            <app-valuta-pisico [schedaPsico]=schedaPsico></app-valuta-pisico>
          </mat-tab>
          <mat-tab label="Diario Psicologico Clinico">
            <app-diario [diario]=schedaPsico.diario></app-diario>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="undefined">Chiudi</button>
    <button mat-button class="button-insert" (click)="save()">Salva</button>
  </div>
</div>
