<div mat-dialog-title>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">
        <h3>CARTELLA ASSISTENTE SOCIALE</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Generale">
            <!-- <app-paziente-generale [disable]=true [(data)]=cartella></app-paziente-generale> -->
            <app-paziente-generale [data]=data.paziente [disable]=true ></app-paziente-generale>
          </mat-tab>

          <!-- ALTRE INFO -->
            <mat-tab label="Altre info">
              <app-altreinfo-cartellasociale [data]=altroCartellaSociale></app-altreinfo-cartellasociale>
            </mat-tab>
          <!-- ALTRE INFO -->

                  <!-- DOCUMENTAZIONE -->
<mat-tab label="Documentazione" [disabled]="paziente?._id === undefined">
  <div class="container-fluid">
    <div class="row title">
      <div class="col-1"></div>
      <div class="col-3">Nome</div>
      <div class="col-1">Data</div>
      <div class="col"></div>
    </div>

    <hr>
    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['CONTRATTO_RICOVERO']?.status ? 'success': 'notload'">
        <div *ngIf="!document['CONTRATTO_RICOVERO']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['CONTRATTO_RICOVERO']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>

      </div>
      <div class="col-3">Contratto ricovero</div>
      <div class="col-1">{{document['CONTRATTO_RICOVERO']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('CONTRATTO_RICOVERO', $event)" accept=".pdf"
          *ngIf="!document['CONTRATTO_RICOVERO']?.status">

        <div class="container-flex" *ngIf="document['CONTRATTO_RICOVERO']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['CONTRATTO_RICOVERO']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="showDocument(document['CONTRATTO_RICOVERO'], 'CONTRATTO_RICOVERO')">Visualizza</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['CONTRATTO_RICOVERO'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['CONTRATTO_RICOVERO'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['DOC_IDENTITA']?.status ? 'success': 'notload'">
        <div *ngIf="!document['DOC_IDENTITA']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['DOC_IDENTITA']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>

      </div>
      <div class="col-3">Doc identit&aacute;</div>
      <div class="col-1">{{document['DOC_IDENTITA']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('DOC_IDENTITA', $event)" accept=".pdf"
          *ngIf="!document['DOC_IDENTITA']?.status">

        <div class="container-flex" *ngIf="document['DOC_IDENTITA']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['DOC_IDENTITA']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="document['DOC_IDENTITA'].status=false">Modifica</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['DOC_IDENTITA'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['DOC_IDENTITA'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['CONS_RICOVERO']?.status ? 'success': 'notload'">
        <div *ngIf="!document['CONS_RICOVERO']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['CONS_RICOVERO']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>
      </div>
      <div class="col-3">Consenso al ricovero</div>
      <div class="col-1">{{document['CONS_RICOVERO']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('CONS_RICOVERO', $event)" accept=".pdf"
          *ngIf="!document['CONS_RICOVERO']?.status">

        <div class="container-flex" *ngIf="document['CONS_RICOVERO']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['CONS_RICOVERO']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="document['CONS_RICOVERO'].status=false">Modifica</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['CONS_RICOVERO'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['CONS_RICOVERO'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['AUTORI_CONTENZIONE']?.status ? 'success': 'notload'">
        <div *ngIf="!document['AUTORI_CONTENZIONE']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['AUTORI_CONTENZIONE']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>
      </div>
      <div class="col-3">Autorizzazione alla contenzione</div>
      <div class="col-1">{{document['AUTORI_CONTENZIONE']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('AUTORI_CONTENZIONE', $event)" accept=".pdf"
          *ngIf="!document['AUTORI_CONTENZIONE']?.status">

        <div class="container-flex" *ngIf="document['AUTORI_CONTENZIONE']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['AUTORI_CONTENZIONE']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="document['AUTORI_CONTENZIONE'].status=false">Modifica</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['AUTORI_CONTENZIONE'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['AUTORI_CONTENZIONE'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['AUTORI_USCITE']?.status ? 'success': 'notload'">
        <div *ngIf="!document['AUTORI_USCITE']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['AUTORI_USCITE']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>
      </div>
      <div class="col-3">Autorizzazione alle uscite</div>
      <div class="col-1">{{document['AUTORI_USCITE']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('AUTORI_USCITE', $event)" accept=".pdf"
          *ngIf="!document['AUTORI_USCITE']?.status">

        <div class="container-flex" *ngIf="document['AUTORI_USCITE']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['AUTORI_USCITE']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="document['AUTORI_USCITE'].status=false">Modifica</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['AUTORI_USCITE'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['AUTORI_USCITE'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['AUTORI_RIPRESE']?.status ? 'success': 'notload'">
        <div *ngIf="!document['AUTORI_RIPRESE']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['AUTORI_RIPRESE']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>
      </div>
      <div class="col-3">Autorizzazione alle riprese audio, video e foto</div>
      <div class="col-1">{{document['AUTORI_RIPRESE']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('AUTORI_RIPRESE', $event)" accept=".pdf"
          *ngIf="!document['AUTORI_RIPRESE']?.status">

        <div class="container-flex" *ngIf="document['AUTORI_RIPRESE']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['AUTORI_RIPRESE']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="document['AUTORI_RIPRESE'].status=false">Modifica</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['AUTORI_RIPRESE'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['AUTORI_RIPRESE'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['AUTORI_VACCINO']?.status ? 'success': 'notload'">
        <div *ngIf="!document['AUTORI_VACCINO']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['AUTORI_VACCINO']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>
      </div>
      <div class="col-3">Consenso somministrazione vaccino</div>
      <div class="col-1">{{document['AUTORI_VACCINO']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('AUTORI_VACCINO', $event)" accept=".pdf"
          *ngIf="!document['AUTORI_VACCINO']?.status">

        <div class="container-flex" *ngIf="document['AUTORI_VACCINO']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['AUTORI_VACCINO']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="document['AUTORI_VACCINO'].status=false">Modifica</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['AUTORI_VACCINO'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['AUTORI_VACCINO'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row fileitem">
      <div class="col-1" [ngClass]="document['LIST_EFFETTIPERSONALI']?.status ? 'success': 'notload'">
        <div *ngIf="!document['LIST_EFFETTIPERSONALI']?.uploading">
          <fa-icon icon="check-circle"></fa-icon>
        </div>
        <div *ngIf="document['LIST_EFFETTIPERSONALI']?.uploading">
          <mat-spinner [diameter]="18"></mat-spinner>
        </div>
      </div>
      <div class="col-3">Check list indumenti ed effetti personali</div>
      <div class="col-1">{{document['LIST_EFFETTIPERSONALI']?.dateupload | date: 'dd/MM/yyyy' }}</div>
      <div class="col right">
        <input type="file" (change)="upload('LIST_EFFETTIPERSONALI', $event)" accept=".pdf"
          *ngIf="!document['LIST_EFFETTIPERSONALI']?.status">

        <div class="container-flex" *ngIf="document['LIST_EFFETTIPERSONALI']?.status">
          <div class="row">
            <div class="col">
              <label>{{document['LIST_EFFETTIPERSONALI']?.name}}</label>
            </div>
            <div class="col">
              <!-- <button (click)="document['LIST_EFFETTIPERSONALI'].status=false">Modifica</button> -->
              <button mat-button >
                <img src="../../../assets/pdf.jpg" (click)="showDocumentGeneric(document['LIST_EFFETTIPERSONALI'])" style="width: 26px;">
              </button>

              <button mat-button >
                <img src="../../../assets/cestino.svg" (click)="removeDocument(document['LIST_EFFETTIPERSONALI'])" style="width:26px">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</mat-tab>


      <!-- VALUTAZIONE SOCIALE -->
           <mat-tab label="Valutazione Sociale">
            <app-valutazione-sociale [data]=valutazioneSociale></app-valutazione-sociale>
          </mat-tab>
      <!-- VALUTAZIONE SOCIALE -->

      <!-- INDICE DI SOCIALIZZAZIONE -->
          <mat-tab label="Indice di socializzazione">
           <app-indice-socializzazione [data]=indiceSocializzazione></app-indice-socializzazione>
          </mat-tab>

      <!-- INDICE DI SOCIALIZZAZIONE -->

      <!-- DIARIO SOCIALE -->
         <mat-tab label="Diario Sociale">
            <app-diario-sociale [data]=data.paziente >></app-diario-sociale>
          </mat-tab>
      <!-- DIARIO SOCIALE -->

        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
  <button mat-button [mat-dialog-close]="true">Chiudi</button>
  <button mat-button (click)="salva()" class="button-insert">Salva</button>
</div>
</div>
