<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>USO DEI MEZZI DI CONTENZIONE FISICA</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-radio-group aria-label="Seleziona una opzione"  [(ngModel)]="data.usomezzi">
            <mat-radio-button value="1" [disabled]=disable>Si</mat-radio-button>
            <mat-radio-button value="2" [disabled]=disable>No</mat-radio-button>
          </mat-radio-group>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>USO DEI MEZZI DI CONTENZIONE FISICA</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.spondine">SPONDINE AL LETTO</mat-checkbox>
              </div>
              <div class="col">
                <mat-radio-group aria-label="Seleziona una opzione" [(ngModel)]="data.pozizionespondine">
                  <mat-radio-button value="1" [disabled]=disable>SX</mat-radio-button>
                  <mat-radio-button value="2" [disabled]=disable>DX</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.pelvica">CONTENZIONE PELVICA</mat-checkbox>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.pettorina">PETTORINA</mat-checkbox>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.cinturaaddominale">CINTURA ADDOMINALE</mat-checkbox>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.cinturaletto">CINTURA A LETTO</mat-checkbox>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.fermabraccio">CINGHIA FERMABRACCIO</mat-checkbox>
              </div>
              <div class="col">
                <mat-radio-group aria-label="Seleziona una opzione" [(ngModel)]="data.posizionefermabraccio">
                  <mat-radio-button value="1" [disabled]=disable>SX</mat-radio-button>
                  <mat-radio-button value="2" [disabled]=disable>DX</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.tavolinocarrozzina">TAVOLINO PER CARROZZINA</mat-checkbox>
              </div>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>PRESENZA DI CONSENSO INFORMATO</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-radio-group aria-label="Seleziona una opzione" [(ngModel)]="data.posizionepresenzaconsenso">
            <mat-radio-button value="1" [disabled]=disable>Si</mat-radio-button>
            <mat-radio-button value="2" [disabled]=disable>No</mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>DATA DI INZIO</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" [(ngModel)]="data.datainizioingresso">All'ingresso</mat-checkbox>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group" >
                  <mat-form-field appearance="fill" >
                    <mat-label>Scegli una date</mat-label>
                    <!-- <input matInput [matDatepicker]="dataNascita"  [(ngModel)]="data.datainizio">
                    <mat-datepicker-toggle matSuffix [for]="dataNascita" ></mat-datepicker-toggle>
                    <mat-datepicker #dataNascita></mat-datepicker> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>MOTIVO</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Motivo</mat-label>
            <textarea matInput placeholder="Inserisci qui" [(ngModel)]="data.motivo" ></textarea>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>TEMPI</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Tempi</mat-label>
            <textarea matInput placeholder="Inserisci qui" [(ngModel)]="data.tempi"></textarea>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>DURATA PREVISTA</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Durata Prevista</mat-label>
            <textarea matInput placeholder="Inserisci qui" [(ngModel)]="data.durata"></textarea>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>INTERRUZIONE</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Interruzione</mat-label>
            <textarea matInput placeholder="Inserisci qui" [(ngModel)]="data.interruzione"></textarea>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>MOTIVO DELL'INTERRUZIONE</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Motivo dell'interruzione</mat-label>
            <textarea matInput placeholder="Inserisci qui" [(ngModel)]="data.motivointerruzione"></textarea>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
