<!-- <app-debug></app-debug> -->

<div *ngIf="isAuthenticated" class="app-container">
    <!-- Header fisso -->
    <header class="head">
        <!-- Hamburger Menu -->
        <button class="hamburger-menu" (click)="toggleMenu()" title="Menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>

        <!-- Area Azioni -->
        <div class="actions-area">
            <!-- Notifiche -->
            <div class="notification-icon">
                <fa-icon [icon]="['fas', 'bell']"
                         size="lg"
                         class="pointer"
                         (click)="openNotifications()"
                         title="Notifiche">
                </fa-icon>
                <span *ngIf="numNotifiche > 0" class="notification-badge">
                    {{ numNotifiche }}
                </span>
            </div>

            <!-- Nuovo Messaggio -->
            <button mat-button
                    class="btn btn-primary"
                    (click)="newMessage()"
                    title="Nuovo Messaggio">
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                <span>Nuovo Messaggio</span>
            </button>

            <!-- Logout -->
            <a class="text-danger"
               (click)="logout()"
               title="Chiudi Sessione">
                <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
                <span>Log out</span>
            </a>
        </div>
    </header>

    <!-- Menu Laterale -->
    <nav class="side-menu" [class.open]="isMenuOpen">
        <!-- Pulsante chiusura menu -->
        <button class="close-menu" (click)="toggleMenu()" title="Chiudi menu">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
        <app-menu></app-menu>
    </nav>

    <!-- Contenuto Principale -->
    <main class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main>
</div>



<div *ngIf="!isAuthenticated">
    <router-outlet class="content-page"></router-outlet>
</div>


<!-- <router-outlet class="content-page"></router-outlet> -->
