<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>{{ data.title }}</h2>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>Tutti i campi indicati con * sono obbligatori.</span>
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <label>Nome*</label>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="Inserisci il contenuto" [(ngModel)]="data.row.nome">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Descrizione*</label>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <mat-form-field appearance="fill">
          <textarea matInput placeholder="Inserisci il contenuto" [(ngModel)]="data.row.descrizione"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="select_formato">Formato*</label>
          <select class="form-control" [(ngModel)]="data.row.formato">
            <option value="Compresse">Compresse</option>
            <option value="Fiale">Fiale</option>
            <option value="Bustine">Bustine</option>
            <option value="Gocce">Gocce</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="select_formato">Formulazione*</label>
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="Inserisci la formulazione" [(ngModel)]="data.row.formulazione">
          </mat-form-field>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Quantità per confezione*</label>
          <mat-form-field appearance="fill">
            <input matInput type="number"   [(ngModel)]="data.row.qty">
          </mat-form-field>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label>Codice Lotto*</label>
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="Inserisci Codice Lotto" [(ngModel)]="data.row.lotto">
          </mat-form-field>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Quantità</label>
          <mat-form-field appearance="fill">
            <input matInput type="number"   [(ngModel)]="data.row.qtyTot">
          </mat-form-field>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label>Giacenza</label>
          <mat-form-field appearance="fill">
            <input matInput type="number"   [(ngModel)]="data.row.giacenza">
          </mat-form-field>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Data scadenza</mat-label>
            <input matInput [matDatepicker]="scadenza" [(ngModel)]="data.row.scadenza">
            <mat-datepicker-toggle matSuffix [for]="scadenza"></mat-datepicker-toggle>
            <mat-datepicker #scadenza></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="select_formato">Classe </label>
          <select class="form-control" [(ngModel)]="data.row.classe">
            <option value="pianoTerapeutico">Piano Terapeutico</option>
            <option value="fasciaA">Fascia A</option>
            <option value="fasciaB">Fascia B</option>
            <option value="fasciaC">Fascia C</option>
            <option value="usoComune">Uso comune</option>
          </select>
        </div>
      </div>
    </div>
 

    <div class="row">
    <div class="col">
      <label>Note</label>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <mat-form-field appearance="fill">
        <textarea matInput placeholder="Inserisci il contenuto" [(ngModel)]="data.row.note"
         ></textarea>
      </mat-form-field>
    </div>
  </div>

  </div>


</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="false">Chiudi</button>
    <button mat-button class="button-save" (click)="save()">Salva</button>
  </div>
</div>
