<!-- Dialog Title Section -->
<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Carrello: {{title}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- Dialog Content Section -->
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Element Name Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Elemento</th>
            <td mat-cell *matCellDef="let element"> {{element.elementoName}} </td>
          </ng-container>

          <!-- Element Type Column -->
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>Tipologia</th>
            <td mat-cell *matCellDef="let element"> {{element.elementoType}} </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantita">
            <th mat-header-cell *matHeaderCellDef>Quantità</th>
            <td mat-cell *matCellDef="let element"> {{element.quantita}} </td>
          </ng-container>

          <!-- Patient Name Column -->
          <ng-container matColumnDef="paziente">
            <th mat-header-cell *matHeaderCellDef>Ospite</th>
            <td mat-cell *matCellDef="let element"> {{element.pazienteName}} </td>
          </ng-container>

          <!-- Notes Column -->
          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef>Note</th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
          </ng-container>

          <!-- Action Buttons Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-icon-button (click)="add()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="color:black;" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                </svg>
              </button>
            </th>
            <td mat-cell *matCellDef="let row" style="text-align: right;">
              <button mat-icon-button (click)="edit(row)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
              </button>
            </td>
          </ng-container>

          <!-- Table Headers and Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Paginator -->
        <mat-paginator #Contenuto [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</mat-dialog-content>

<!-- Dialog Actions Section -->
<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button class="btn btn-outline-success" *ngIf="!uso" (click)="toggleUso()">Usa</button>
    <button class="btn btn-outline-danger" mat-button *ngIf="uso" (click)="toggleUso()">Libera</button>
    <button mat-button [mat-dialog-close]="true" (click)="save()">Salva</button>
    <button mat-button [mat-dialog-close]="true">Chiudi</button>
  </div>
</div>
