:host {
  display: block;
}

mat-dialog-content {
  max-width: 500px;
  width: 100%;
  overflow-x: hidden;
}

.mat-form-field {
  font-size: 14px;
}

/* Uniforma il comportamento delle form field allineandolo agli altri dialog e form */
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}
