<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>VISITE SPECIALISTICHE</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>

  <div class="row">
    <div class="form-group">
      <mat-form-field style="width: 100%;">
        <mat-label>DATA RICHIESTA</mat-label>
        <!-- <input matInput [matDatepicker]="picker" [(ngModel)]="this.data.visitaSpecialistica.dataReq"
          [disabled]=this.data.readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> -->
      </mat-form-field>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>CONTENUTO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" rows="1" cols="150"
            [(ngModel)]="this.data.visitaSpecialistica.contenuto" [disabled]=this.data.readonly></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="form-group">
      <mat-form-field style="width: 100%;">
        <mat-label>DATA ESECUZIONE</mat-label>
        <!-- <input matInput [matDatepicker]="picker2" [(ngModel)]="this.data.visitaSpecialistica.dataEsec" [disabled]=this.data.readonly>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker> -->
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="undefined">Chiudi</button>
    <button mat-button (click)="salva()" class="button-insert" *ngIf="!this.data.readonly">Salva</button>
  </div>
</div>
