.pad {
    padding-left: 6%;
    padding-top: 3%;
  }
  
  .title {
    font-size: 30px;
    line-height: 1.2;
    color: #676a6c;
  }
  
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-column-action {
    width: 32px;
  }
