<div>
  <div class="containter pad">
    <div class="row">
      <div class="col ">
        <h1 class="title">Menu Magazzino</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table mat-table [dataSource]="dataSourceMenuGeneraleEstivo" class="mat-elevation-z8">

          <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">

              <button mat-button >
                <img src="../../../assets/menu.png" style="height:31px" (click)="openMenuGenerale(row)" matTooltip="Apri menu Estivo">
              </button>

            </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="descrizione">
            <th mat-header-cell *matHeaderCellDef> Descrizione </th>
            <td mat-cell *matCellDef="let element"> {{element.descrizione}} </td>
          </ng-container>

          <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef> Area </th>
            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
          </ng-container>

          <ng-container matColumnDef="quantita">
            <th mat-header-cell *matHeaderCellDef> Quantità </th>
            <td mat-cell *matCellDef="let element"> {{element.quantita}} </td>
          </ng-container>

          <ng-container matColumnDef="giacenza">
            <th mat-header-cell *matHeaderCellDef> Giacenza </th>
            <td mat-cell *matCellDef="let element"> {{element.giacenza}} </td>
          </ng-container>

          <ng-container matColumnDef="conformi">
            <th mat-header-cell *matHeaderCellDef> Conformi </th>
            <td mat-cell *matCellDef="let element"> {{element.conformi}} </td>
          </ng-container>

          <ng-container matColumnDef="inuso">
            <th mat-header-cell *matHeaderCellDef> In Uso </th>
            <td mat-cell *matCellDef="let element"> {{element.inuso}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginatorEstivo [pageSizeOptions]="[12]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
