<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Facies</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill">
            <mat-label>Facies</mat-label>
            <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.facies" [disabled]=disable [disabled]=disable></textarea>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <label>Stato di coscienza</label>
                  <select class="custom-select" id="stato_coscienza"    [(ngModel)]="data.stato_coscienza" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="adeguata">Vigile</option>
                    <option value="insufficiente">Confuso</option>
                    <option value="obesita">Saporoso</option>
                    <option value="cachessia">Comotoso</option>
                  </select>
                </td>
                <td>
                  <label>Stato emotivo</label>
                  <select class="custom-select" id="stato_emotivo"    [(ngModel)]="data.stato_emotivo" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="adeguata">Adeguato</option>
                    <option value="insufficiente">Ansia</option>
                    <option value="obesita">Depressione</option>
                    <option value="cachessia">Comotoso</option>
                  </select>
                </td>
                <td>
                  <label>Comportamento</label>
                  <select class="custom-select" id="comportamento"    [(ngModel)]="data.comportamento" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="adeguata">Adeguato</option>
                    <option value="albilita">Labilità emotiva</option>
                    <option value="rallentato">Rallentato</option>
                    <option value="apatia">Apatia</option>
                    <option value="psicomotoria">Agit.Psicomotoria</option>
                  </select>
                </td>
              </tr>


              <tr>
                <td>
                  <label>linguaggio</label>
                  <select class="custom-select" id="linguaggio"    [(ngModel)]="data.linguaggio" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="normale">Normale</option>
                    <option value="afasico">Afasico</option>
                    <option value="disartrico">Disartrico</option>
                    <option value="perseverazioni">Perseverazioni</option>
                    <option value="logorrea">Logorrea</option>
                  </select>
                </td>
                <td>
                  <label>Concentrazione</label>
                  <select class="custom-select" id="concentrazione"    [(ngModel)]="data.concentrazione" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="adeguata">Adeguata</option>
                    <option value="distraibile">Facil.Distraibile</option>
                    <option value="inadeguata">Inadeguata</option>

                  </select>
                </td>
                <td>
                  <label>Disturbi del pensiero</label>
                  <select class="custom-select" id="disturbi_pensiero"    [(ngModel)]="data.disturbi_pensiero" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="assenti">Assenti</option>
                    <option value="deliranti">Idee deliranti</option>
                    <option value="allucinazioni">Allucinazioni</option>
                    <option value="confabulazioni">Confabulazioni</option>
                  </select>
                </td>
              </tr>


              <tr>
                <td>
                  <label>Orientamento personale</label>
                  <select class="custom-select"   [(ngModel)]="data.orientamentopersonale" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="orientato">Orientato</option>
                    <option value="parzialmente">Parzialmente</option>
                    <option value="disorientatto">Disorientatto</option>
                  </select>
                </td>
                <td>
                  <label>Orientamento temporale</label>
                  <select class="custom-select"   [(ngModel)]="data.orientamentotemporale" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="orientato">Orientato</option>
                    <option value="parzialmente">Parzialmente</option>
                    <option value="disorientatto">Disorientatto</option>
                  </select>
                </td>
                <td>
                  <label>Orientamento spaziale</label>
                  <select class="custom-select"   [(ngModel)]="data.orientamentospaziale" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="orientato">Orientato</option>
                    <option value="parzialmente">Parzialmente</option>
                    <option value="disorientatto">Disorientatto</option>
                  </select>
                </td>
              </tr>


              <tr>
                <td>
                  <label>Stazione eretta</label>
                  <select class="custom-select"   [(ngModel)]="data.stazioneeretta" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="normale">Normale</option>
                    <option value="no_valutabile">Non valutabile</option>
                    <option value="flessione">Atteggiamento in flessione</option>

                    <option value="lateropulsione">Lateropulsione</option>
                    <option value="retropulsione">Retropulsione</option>
                    <option value="no_possibile">Non possibile</option>
                  </select>
                </td>
                <td>
                  <label>Seduto</label>
                  <select class="custom-select"   [(ngModel)]="data.seduto" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="normale">Normale</option>
                    <option value="lateropulsione">Lateropulsione</option>
                    <option value="retropulsione">Retropulsione</option>
                    <option value="supporti">Solo con supporti</option>
                    <option value="no_possibile">Non possibile</option>
                  </select>
                </td>
                <td>
                  <label>Altre anomalie posturali</label>
                  <select class="custom-select"   [(ngModel)]="data.altreanomalie" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="capo">Capo</option>
                    <option value="tronco">Tronco</option>
                    <option value="arti_inf">Arti inf.</option>
                    <option value="arti_sup">Arti sup.</option>
                    <option value="altro">Altro</option>
                  </select>
                </td>
              </tr>


            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Romberg</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-radio-group aria-label="Seleziona una opzione"  [(ngModel)]="data.romberg" [disabled]=disable>
            <mat-radio-button value="1"  >Positivo</mat-radio-button>
            <mat-radio-button value="2"  >Negativo</mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Nervi cranici</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Olfatto</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.olfatto" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Pupille</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.pupille" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Visus</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.visus" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Campo visivo</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.campovisivo" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Fondo oculare</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.fondooculare" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Movimenti oculari e palpebrali</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.movimentioculari" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Masticazione</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.masticazione" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Motilità facciale</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.motilitafacciale"  [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Funzione uditiva</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.funzioneuditiva" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Funzione vestibolare</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.funzionevestibolare" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Motilità faringea</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.motilitafaringea" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Trofismo e motilità linguale</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.trofismo" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Articolazione della parola</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.articolazioneparola" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Annotazioni</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.annotazioni" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>


          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Tono</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <table class="table">
            <tbody>
              <tr>
                <td>
                  <label>Tono</label>
                  <select class="custom-select"   [(ngModel)]="data.tono" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="Normale">Normale</option>
                    <option value="ip_spastica">Ipertonia spastica</option>
                    <option value="ip_plastica">Ipertonia plastica</option>
                    <option value="ipotonia">Ipotonia</option>
                    <option value="flaccidita">Flaccidità</option>
                  </select>
                </td>
                <td>
                  <label>Forza</label>
                  <select class="custom-select"   [(ngModel)]="data.forza" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="Normale">Normale</option>
                    <option value="ipostenia">Ipostenia</option>
                    <option value="paresi">Paresi</option>
                    <option value="plegia">Plegia</option>
                  </select>
                </td>
                <td>
                  <label>Coordinazione</label>
                  <select class="custom-select"   [(ngModel)]="data.coordinazione" [disabled]=disable>
                    <option selected="">Seleziona...</option>
                    <option value="normale">Normale</option>
                    <option value="dismetria">Dismetria</option>
                    <option value="no_valutabile">Non valutabile</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Riflessi osteotendinei</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="container">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Riflessi osteotendinei</mat-label>
                  <textarea matInput placeholder="Inserisci qui"   [(ngModel)]="data.riflessiosteotendinei" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Sensibilit&agrave; superficiale</mat-label>
                  <textarea matInput placeholder="Inserisci"   [(ngModel)]="data.sensibilitasuper" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Sensibilit&agrave; profonda</mat-label>
                  <textarea matInput placeholder="Inserisci"   [(ngModel)]="data.sensibilitaprofonda" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Funzioni cerebellari</mat-label>
                  <textarea matInput placeholder="Inserisci"   [(ngModel)]="data.funzionicerebellari" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Funzioni extrapirabidali</mat-label>
                  <textarea matInput placeholder="Inserisci"   [(ngModel)]="data.funzioniextrapirabidali" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Segni meningei</mat-label>
                  <textarea matInput placeholder="Inserisci"   [(ngModel)]="data.segnimeningei" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Sfinteri</mat-label>
                  <textarea matInput placeholder="Inserisci"   [(ngModel)]="data.sfinteri" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Annotazioni</mat-label>
                  <textarea matInput placeholder="Inserisci"   [(ngModel)]="data.annotazioniriflessi" [disabled]=disable></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
