<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>CARTELLA RIABILITATIVA</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Generale">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <app-paziente-generale [disable]=true [data]=data.paziente></app-paziente-generale>
                </div>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="VALUTAZIONE MOTORIA">
            <app-valutazione-motoria [data]=valutazioneMotoria [disable]=false></app-valutazione-motoria>
          </mat-tab>
          <mat-tab label="AREA RIABILITATIVA">
            <app-area-riabilitativa [data]=areaRiabilitativa [disable]=false></app-area-riabilitativa>
          </mat-tab>
          <mat-tab label="PROGRAMMA RIABILITATIVO">
            <app-area-riabilitazione-programma [data]=areaRiabilitativaProgramma [disable]=false></app-area-riabilitazione-programma>
          </mat-tab>
          <mat-tab label="DIARIO RIABILITATIVO">
            <app-area-riabilitazione-diario [data]=areaRiabilitativaDiario [disable]=false></app-area-riabilitazione-diario>
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="undefined">Chiudi</button>
    <button mat-button class="button-insert" (click)="save()">Salva</button>
  </div>
</div>
