<div mat-dialog-title>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">
        <h3>CARTELLA CLINICA</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Generale">
            <!-- <app-paziente-generale [disable]=true [(data)]=cartella></app-paziente-generale> -->
            <app-paziente-generale [data]=data.paziente [disable]=true ></app-paziente-generale>
          </mat-tab>


          <mat-tab label="Anamnesi Patologica">
            <app-anamnesi-patologica [data]=schedaAnamnesiPatologica ></app-anamnesi-patologica>
          </mat-tab>

            <mat-tab label="Anamnesi Famigliare">
            <app-anamnesi-famigliare [data]=schedaAnamnesiFamigliare ></app-anamnesi-famigliare>
          </mat-tab>

       
  
          <mat-tab label="Esame Generale">
            <app-esame-generale [data]=schedaEsameGenerale ></app-esame-generale>
          </mat-tab>

         <mat-tab label="Esame Neurologica">
            <app-esame-neurologica [data]=schedaEsameNeurologia  ></app-esame-neurologica>
          </mat-tab>

          <mat-tab label="Mezzi di Contenzione">
            <app-mezzi-contenzione [data]=schedaMezziContenzione  ></app-mezzi-contenzione>
          </mat-tab>

          <mat-tab label="Valutazione Tecniche">
            <app-valutazione-tecniche [data]=schedaValutazioneTecniche></app-valutazione-tecniche>
          </mat-tab>

        <mat-tab label="Visite specialistiche/Esami paraclinici">
            <app-visite-specialistiche [data]=data.paziente ></app-visite-specialistiche>
          </mat-tab>

         <mat-tab label="Diario">
            <app-diario-clinico [data]=data.paziente >></app-diario-clinico>
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
  <button mat-button [mat-dialog-close]="true">Chiudi</button>
  <button mat-button (click)="salva()" class="button-insert">Salva</button>
</div>
</div>
