<div mat-dialog-title>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">
        <h3>CARTELLA CLINICA</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Generale">
            <!-- <app-paziente-generale [disable]=true [(data)]=cartella></app-paziente-generale> -->
            <app-paziente-generale [data]=data.paziente [disable]=true ></app-paziente-generale>
          </mat-tab>


               <!-- DOCUMENTAZIONE -->
  <mat-tab label="Documentazione" [disabled]="paziente?._id === undefined">
    <div class="container-fluid">
      <div class="row title">
        <div class="col-1"></div>
        <div class="col-3">Nome</div>
        <div class="col-1">Data</div>
        <div class="col"></div>
      </div>

      <hr>


      <div class="row fileitem">
        <div class="col-1" [ngClass]="document['DOC_IDENTITA']?.status ? 'success': 'notload'">
          <div *ngIf="!document['DOC_IDENTITA']?.uploading">
            <fa-icon icon="check-circle"></fa-icon>
          </div>
          <div *ngIf="document['DOC_IDENTITA']?.uploading">
            <mat-spinner [diameter]="18"></mat-spinner>
          </div>

        </div>
        <div class="col-3">Doc identit&aacute;</div>
        <div class="col-1">{{document['DOC_IDENTITA']?.dateupload | date: 'dd/MM/yyyy' }}</div>
        <div class="col right">


          <div class="container-flex" *ngIf="document['DOC_IDENTITA']?.status">
            <div class="row">
              <div class="col">
                <label>{{document['DOC_IDENTITA']?.name}}</label>
              </div>
              <div class="col">
                <!-- <button (click)="document['DOC_IDENTITA'].status=false">Modifica</button> -->

                <button mat-icon-button color="warn" aria-label="Carica file"
                  (click)="document['DOC_IDENTITA'].status=false" class="upload-button">
                  <fa-icon icon="upload"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fileitem">
        <div class="col-1" [ngClass]="document['CONS_RICOVERO']?.status ? 'success': 'notload'">
          <div *ngIf="!document['CONS_RICOVERO']?.uploading">
            <fa-icon icon="check-circle"></fa-icon>
          </div>
          <div *ngIf="document['CONS_RICOVERO']?.uploading">
            <mat-spinner [diameter]="18"></mat-spinner>
          </div>
        </div>
        <div class="col-3">Consenso al ricovero</div>
        <div class="col-1">{{document['CONS_RICOVERO']?.dateupload | date: 'dd/MM/yyyy' }}</div>
        <div class="col right">


          <div class="container-flex" *ngIf="document['CONS_RICOVERO']?.status">
            <div class="row">
              <div class="col">
                <label>{{document['CONS_RICOVERO']?.name}}</label>
              </div>
              <div class="col">
                <!-- <button (click)="document['CONS_RICOVERO'].status=false">Modifica</button> -->

                <button mat-icon-button color="warn" aria-label="Carica file"
                  (click)="document['CONS_RICOVERO'].status=false" class="upload-button">
                  <fa-icon icon="upload"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fileitem">
        <div class="col-1" [ngClass]="document['AUTORI_CONTENZIONE']?.status ? 'success': 'notload'">
          <div *ngIf="!document['AUTORI_CONTENZIONE']?.uploading">
            <fa-icon icon="check-circle"></fa-icon>
          </div>
          <div *ngIf="document['AUTORI_CONTENZIONE']?.uploading">
            <mat-spinner [diameter]="18"></mat-spinner>
          </div>
        </div>
        <div class="col-3">Autorizzazione alla contenzione</div>
        <div class="col-1">{{document['AUTORI_CONTENZIONE']?.dateupload | date: 'dd/MM/yyyy' }}</div>
        <div class="col right">


          <div class="container-flex" *ngIf="document['AUTORI_CONTENZIONE']?.status">
            <div class="row">
              <div class="col">
                <label>{{document['AUTORI_CONTENZIONE']?.name}}</label>
              </div>
              <div class="col">
                <!-- <button (click)="document['AUTORI_CONTENZIONE'].status=false">Modifica</button> -->

                <button mat-icon-button color="warn" aria-label="Carica file"
                  (click)="document['AUTORI_CONTENZIONE'].status=false" class="upload-button">
                  <fa-icon icon="upload"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fileitem">
        <div class="col-1" [ngClass]="document['AUTORI_USCITE']?.status ? 'success': 'notload'">
          <div *ngIf="!document['AUTORI_USCITE']?.uploading">
            <fa-icon icon="check-circle"></fa-icon>
          </div>
          <div *ngIf="document['AUTORI_USCITE']?.uploading">
            <mat-spinner [diameter]="18"></mat-spinner>
          </div>
        </div>
        <div class="col-3">Autorizzazione alle uscite</div>
        <div class="col-1">{{document['AUTORI_USCITE']?.dateupload | date: 'dd/MM/yyyy' }}</div>
        <div class="col right">

          <div class="container-flex" *ngIf="document['AUTORI_USCITE']?.status">
            <div class="row">
              <div class="col">
                <label>{{document['AUTORI_USCITE']?.name}}</label>
              </div>
              <div class="col">
                <!-- <button (click)="document['AUTORI_USCITE'].status=false">Modifica</button> -->

                <button mat-icon-button color="warn" aria-label="Carica file"
                  (click)="document['AUTORI_USCITE'].status=false" class="upload-button">
                  <fa-icon icon="upload"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fileitem">
        <div class="col-1" [ngClass]="document['AUTORI_RIPRESE']?.status ? 'success': 'notload'">
          <div *ngIf="!document['AUTORI_RIPRESE']?.uploading">
            <fa-icon icon="check-circle"></fa-icon>
          </div>
          <div *ngIf="document['AUTORI_RIPRESE']?.uploading">
            <mat-spinner [diameter]="18"></mat-spinner>
          </div>
        </div>
        <div class="col-3">Autorizzazione alle riprese audio, video e foto</div>
        <div class="col-1">{{document['AUTORI_RIPRESE']?.dateupload | date: 'dd/MM/yyyy' }}</div>
        <div class="col right">

          <div class="container-flex" *ngIf="document['AUTORI_RIPRESE']?.status">
            <div class="row">
              <div class="col">
                <label>{{document['AUTORI_RIPRESE']?.name}}</label>
              </div>
              <div class="col">
                <!-- <button (click)="document['AUTORI_RIPRESE'].status=false">Modifica</button> -->

                <button mat-icon-button color="warn" aria-label="Carica file"
                  (click)="document['AUTORI_RIPRESE'].status=false" class="upload-button">
                  <fa-icon icon="upload"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fileitem">
        <div class="col-1" [ngClass]="document['AUTORI_VACCINO']?.status ? 'success': 'notload'">
          <div *ngIf="!document['AUTORI_VACCINO']?.uploading">
            <fa-icon icon="check-circle"></fa-icon>
          </div>
          <div *ngIf="document['AUTORI_VACCINO']?.uploading">
            <mat-spinner [diameter]="18"></mat-spinner>
          </div>
        </div>
        <div class="col-3">Consenso somministrazione vaccino</div>
        <div class="col-1">{{document['AUTORI_VACCINO']?.dateupload | date: 'dd/MM/yyyy' }}</div>
        <div class="col right">

          <div class="container-flex" *ngIf="document['AUTORI_VACCINO']?.status">
            <div class="row">
              <div class="col">
                <label>{{document['AUTORI_VACCINO']?.name}}</label>
              </div>
              <div class="col">
                <!-- <button (click)="document['AUTORI_VACCINO'].status=false">Modifica</button> -->

                <button mat-icon-button color="warn" aria-label="Carica file"
                  (click)="document['AUTORI_VACCINO'].status=false" class="upload-button">
                  <fa-icon icon="upload"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fileitem">
        <div class="col-1" [ngClass]="document['LIST_EFFETTIPERSONALI']?.status ? 'success': 'notload'">
          <div *ngIf="!document['LIST_EFFETTIPERSONALI']?.uploading">
            <fa-icon icon="check-circle"></fa-icon>
          </div>
          <div *ngIf="document['LIST_EFFETTIPERSONALI']?.uploading">
            <mat-spinner [diameter]="18"></mat-spinner>
          </div>
        </div>
        <div class="col-3">Check list indumenti ed effetti personali</div>
        <div class="col-1">{{document['LIST_EFFETTIPERSONALI']?.dateupload | date: 'dd/MM/yyyy' }}</div>
        <div class="col right">

          <div class="container-flex" *ngIf="document['LIST_EFFETTIPERSONALI']?.status">
            <div class="row">
              <div class="col">
                <label>{{document['LIST_EFFETTIPERSONALI']?.name}}</label>
              </div>
              <div class="col">
                <!-- <button (click)="document['LIST_EFFETTIPERSONALI'].status=false">Modifica</button> -->

                <button mat-icon-button color="warn" aria-label="Carica file"
                  (click)="document['LIST_EFFETTIPERSONALI'].status=false" class="upload-button">
                  <fa-icon icon="upload"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </mat-tab>

          <!-- PIANI TERAPEUTICI -->
          <mat-tab label="Piani terapeutici" [disabled]="data.paziente?._id === undefined">

            <br>
            <div class="notPresent" style="margin-bottom: 10px;" *ngIf="!addingPianoTerapeutico">
              <button mat-button class="button-insert" (click)="addPianoTerapeutico()">Aggiungi Documento</button>
            </div>

            <div class="container-flex" class="notPresent" style="margin-bottom: 10px;"
              *ngIf="addingPianoTerapeutico && !uploadingPianoTerapeutico">
              <div class="row">
                <div class="col">
                  <input type="file" (change)="uploadPianoTerapeutico($event)" accept=".pdf" *ngIf="!uploadingPianoTerapeutico">
                  <label *ngIf="uploadingPianoTerapeutico">Caricamento in corso ...</label>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full" appearance="fill" style="width: 100%;">
                    <mat-label>Note</mat-label>
                    <input matInput placeholder="Inserisci delle note" [(ngModel)]="nuovoPianoTerapeutico.note">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-button class="button-insert" (click)="savePianoTerapeutico(nuovoPianoTerapeutico)">Salva</button>
                </div>
              </div>
            </div>

            <div>
              <div class="container-flex" style="margin: 20px 0px 20px 0px;" *ngIf="uploadingPianoTerapeutico">
                <div class="row">
                  <div class="col-1">
                    <mat-spinner [diameter]="24"></mat-spinner>
                  </div>
                  <div class="col">
                    <label>Caricamento in corso ...</label>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="this.pianiTerapeutici?.length <= 0" class="notPresent">
              Nessuna documento presente
            </div>

            <table mat-table [dataSource]="pianiTerapeuticiDataSource" class="mat-elevation-z8" style="width: 100%;" *ngIf="this.pianiTerapeutici?.length > 0">
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row; let i = index;" style="text-align: right;">
                  <!-- <input type="file" (change)="uploadFattura($event)" accept=".pdf" *ngIf="!uploadingFattura">
                  <label *ngIf="uploadingFattura">Caricamento in corso ...</label> -->

                  <button mat-button (click)="showDocument(row)">
                    <img src="../../../assets/pdf.jpg" style="width: 26px;">
                  </button>

                  <button mat-button (click)="deletePianoTerapeutico(row, i)">
                    <img src="../../../assets/cestino.svg" style="width:26px">
                  </button>


                </td>
              </ng-container>

              <ng-container matColumnDef="namefile">
                <th mat-header-cell *matHeaderCellDef> Nome file </th>
                <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
            </table>

            <div class="paginator-container">

              <mat-paginator #paginatorPianiTerapeutici [pageSizeOptions]="[5]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

          </mat-tab>

           <!-- FINE PIANI TERAPEUTICI -->


           <mat-tab label="Parametri vitali">
            <app-parametri-vitali [id]=data.paziente._id [saveEvent]="saveParametriVitali" [inLettura]=true></app-parametri-vitali>
          </mat-tab>


           <!-- REFERTI ESAMI STRUMENTALI -->
           <mat-tab label="Referti esami strumentali">
            <app-esiti-strumentali [id]=data.paziente._id [inLettura]=true></app-esiti-strumentali>
          </mat-tab>

           <!-- FINE REFERTI ESAMI STRUMENTALI -->


             <!-- REFERTI ESAMI EMATOCHIMICI -->
          <mat-tab label="Referti esami ematochimici" [disabled]="data.paziente?._id === undefined">

            <div class="notPresent" style="margin-bottom: 10px;" *ngIf="!addingRefertoEsameEmatochimico">
              <button mat-button class="button-insert" (click)="addRefertoEsameEmatochimico()">Aggiungi Documento</button>
            </div>

            <div class="container-flex" class="notPresent" style="margin-bottom: 10px;"
              *ngIf="addingRefertoEsameEmatochimico && !uploadingRefertoEsameEmatochimico">
              <div class="row">
                <div class="col">
                  <input type="file" (change)="uploadRefertoEsameEmatochimico($event)" accept=".pdf" *ngIf="!uploadingRefertoEsameEmatochimico">
                  <label *ngIf="uploadingRefertoEsameEmatochimico">Caricamento in corso ...</label>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full" appearance="fill" style="width: 100%;">
                    <mat-label>Note</mat-label>
                    <input matInput placeholder="Inserisci delle note" [(ngModel)]="nuovoRefertoEsameEmatochimico.note">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-button class="button-insert" (click)="saveRefertoEsameEmatochimico(nuovoRefertoEsameEmatochimico)">Salva</button>
                </div>
              </div>
            </div>

            <div>
              <div class="container-flex" style="margin: 20px 0px 20px 0px;" *ngIf="uploadingRefertoEsameEmatochimico">
                <div class="row">
                  <div class="col-1">
                    <mat-spinner [diameter]="24"></mat-spinner>
                  </div>
                  <div class="col">
                    <label>Caricamento in corso ...</label>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="this.refertiEsamiEmatochimici?.length <= 0" class="notPresent">
              Nessuna documento presente
            </div>

            <table mat-table [dataSource]="refertiEsamiEmatochimiciDataSource" class="mat-elevation-z8" style="width: 100%;" *ngIf="this.refertiEsamiEmatochimici?.length > 0">
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" style="text-align: right;">
                  <!-- <input type="file" (change)="uploadFattura($event)" accept=".pdf" *ngIf="!uploadingFattura">
                  <label *ngIf="uploadingFattura">Caricamento in corso ...</label> -->

                  <button mat-button (click)="showDocument(row)">
                    <img src="../../../assets/pdf.jpg" style="width: 26px;">
                  </button>

                  <button mat-button (click)="deleteRefertoEsameEmatochimico(row)">
                    <img src="../../../assets/cestino.svg" style="width:26px">
                  </button>


                </td>
              </ng-container>

              <ng-container matColumnDef="namefile">
                <th mat-header-cell *matHeaderCellDef> Nome file </th>
                <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
            </table>

            <div class="paginator-container">

              <mat-paginator #paginatorRefertiEsamiEmatochimici [pageSizeOptions]="[5]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

          </mat-tab>

           <!-- FINE REFERTI ESAMI EMATOCHIMICI -->



            <!-- VERBALI -->
          <mat-tab label="Verbali pronto soccorso e dimissioni ospedaliere" [disabled]="data.paziente?._id === undefined">

            <div class="notPresent" style="margin-bottom: 10px;" *ngIf="!addingVerbale">
              <button mat-button class="button-insert" (click)="addVerbale()">Aggiungi Documento</button>
            </div>

            <div class="container-flex" class="notPresent" style="margin-bottom: 10px;"
              *ngIf="addingVerbale && !uploadingVerbale">
              <div class="row">
                <div class="col">
                  <input type="file" (change)="uploadVerbale($event)" accept=".pdf" *ngIf="!uploadingVerbale">
                  <label *ngIf="uploadingVerbale">Caricamento in corso ...</label>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full" appearance="fill" style="width: 100%;">
                    <mat-label>Note</mat-label>
                    <input matInput placeholder="Inserisci delle note" [(ngModel)]="nuovoVerbale.note">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-button class="button-insert" (click)="saveVerbale(nuovoVerbale)">Salva</button>
                </div>
              </div>
            </div>

            <div>
              <div class="container-flex" style="margin: 20px 0px 20px 0px;" *ngIf="uploadingVerbale">
                <div class="row">
                  <div class="col-1">
                    <mat-spinner [diameter]="24"></mat-spinner>
                  </div>
                  <div class="col">
                    <label>Caricamento in corso ...</label>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="this.verbali?.length <= 0" class="notPresent">
              Nessuna documento presente
            </div>

            <table mat-table [dataSource]="VerbaliDataSource" class="mat-elevation-z8" style="width: 100%;" *ngIf="this.verbali?.length > 0">
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row;let i = index;" style="text-align: right;">
                  <!-- <input type="file" (change)="uploadFattura($event)" accept=".pdf" *ngIf="!uploadingFattura">
                  <label *ngIf="uploadingFattura">Caricamento in corso ...</label> -->

                  <button mat-button (click)="showDocument(row)">
                    <img src="../../../assets/pdf.jpg" style="width: 26px;">
                  </button>

                  <button mat-button (click)="deletePianoTerapeutico(row, i)">
                    <img src="../../../assets/cestino.svg" style="width:26px">
                  </button>


                </td>
              </ng-container>

              <ng-container matColumnDef="namefile">
                <th mat-header-cell *matHeaderCellDef> Nome file </th>
                <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
            </table>

            <div class="paginator-container">

              <mat-paginator #paginatorVerbali [pageSizeOptions]="[5]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

          </mat-tab>

           <!-- FINE VERBALI -->



             <!-- RELAZIONI -->
          <mat-tab label="Relazioni cliniche e certificati" [disabled]="data.paziente?._id === undefined">

            <div class="notPresent" style="margin-bottom: 10px;" *ngIf="!addingRelazione">
              <button mat-button class="button-insert" (click)="addRelazione()">Aggiungi Documento</button>
            </div>

            <div class="container-flex" class="notPresent" style="margin-bottom: 10px;"
              *ngIf="addingRelazione && !uploadingRelazione">
              <div class="row">
                <div class="col">
                  <input type="file" (change)="uploadRelazione($event)" accept=".pdf" *ngIf="!uploadingRelazione">
                  <label *ngIf="uploadingRelazione">Caricamento in corso ...</label>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full" appearance="fill" style="width: 100%;">
                    <mat-label>Note</mat-label>
                    <input matInput placeholder="Inserisci delle note" [(ngModel)]="nuovoRelazione.note">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-button class="button-insert" (click)="saveRelazione(nuovoRelazione)">Salva</button>
                </div>
              </div>
            </div>

            <div>
              <div class="container-flex" style="margin: 20px 0px 20px 0px;" *ngIf="uploadingRelazione">
                <div class="row">
                  <div class="col-1">
                    <mat-spinner [diameter]="24"></mat-spinner>
                  </div>
                  <div class="col">
                    <label>Caricamento in corso ...</label>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="this.relazioni?.length <= 0" class="notPresent">
              Nessuna documento presente
            </div>

            <table mat-table [dataSource]="relazioniDataSource" class="mat-elevation-z8" style="width: 100%;" *ngIf="this.relazioni?.length > 0">
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" style="text-align: right;">
                  <!-- <input type="file" (change)="uploadFattura($event)" accept=".pdf" *ngIf="!uploadingFattura">
                  <label *ngIf="uploadingFattura">Caricamento in corso ...</label> -->

                  <button mat-button (click)="showDocument(row)">
                    <img src="../../../assets/pdf.jpg" style="width: 26px;">
                  </button>

                  <button mat-button (click)="deleteRelazione(row)">
                    <img src="../../../assets/cestino.svg" style="width:26px">
                  </button>


                </td>
              </ng-container>

              <ng-container matColumnDef="namefile">
                <th mat-header-cell *matHeaderCellDef> Nome file </th>
                <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
            </table>

            <div class="paginator-container">

              <mat-paginator #paginatorRelazioni [pageSizeOptions]="[5]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

          </mat-tab>

           <!-- FINE RELAZIONI -->



            <!-- IMPEGNATIVE -->
          <mat-tab label="Impegnative" [disabled]="data.paziente?._id === undefined">

            <div class="notPresent" style="margin-bottom: 10px;" *ngIf="!addingImpegnativa">
              <button mat-button class="button-insert" (click)="addImpegnativa()">Aggiungi Documento</button>
            </div>

            <div class="container-flex" class="notPresent" style="margin-bottom: 10px;"
              *ngIf="addingImpegnativa && !uploadingImpegnativa">
              <div class="row">
                <div class="col">
                  <input type="file" (change)="uploadImpegnativa($event)" accept=".pdf" *ngIf="!uploadingImpegnativa">
                  <label *ngIf="uploadingImpegnativa">Caricamento in corso ...</label>
                </div>
                <div class="col">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full" appearance="fill" style="width: 100%;">
                    <mat-label>Note</mat-label>
                    <input matInput placeholder="Inserisci delle note" [(ngModel)]="nuovoImpegnativa.note">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-button class="button-insert" (click)="saveImpegnativa(nuovoImpegnativa)">Salva</button>
                </div>
              </div>
            </div>

            <div>
              <div class="container-flex" style="margin: 20px 0px 20px 0px;" *ngIf="uploadingImpegnativa">
                <div class="row">
                  <div class="col-1">
                    <mat-spinner [diameter]="24"></mat-spinner>
                  </div>
                  <div class="col">
                    <label>Caricamento in corso ...</label>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="this.impegnative?.length <= 0" class="notPresent">
              Nessuna documento presente
            </div>

            <table mat-table [dataSource]="impegnativeDataSource" class="mat-elevation-z8" style="width: 100%;" *ngIf="this.impegnative?.length > 0">
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" style="text-align: right;">
                  <!-- <input type="file" (change)="uploadFattura($event)" accept=".pdf" *ngIf="!uploadingFattura">
                  <label *ngIf="uploadingFattura">Caricamento in corso ...</label> -->

                  <button mat-button (click)="showDocument(row)">
                    <img src="../../../assets/pdf.jpg" style="width: 26px;">
                  </button>

                  <button mat-button (click)="deleteImpegnativa(row)">
                    <img src="../../../assets/cestino.svg" style="width:26px">
                  </button>


                </td>
              </ng-container>

              <ng-container matColumnDef="namefile">
                <th mat-header-cell *matHeaderCellDef> Nome file </th>
                <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dateupload | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
            </table>

            <div class="paginator-container">

              <mat-paginator #paginatorImpegnative [pageSizeOptions]="[5]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

          </mat-tab>

           <!-- FINE IMPEGNATIVE -->





          <mat-tab label="Anamnesi Patologica">
            <app-anamnesi-patologica [data]=schedaAnamnesiPatologica ></app-anamnesi-patologica>
          </mat-tab>

            <mat-tab label="Anamnesi Famigliare">
            <app-anamnesi-famigliare [data]=schedaAnamnesiFamigliare ></app-anamnesi-famigliare>
          </mat-tab>



          <mat-tab label="Esame Generale">
            <app-esame-generale [data]=schedaEsameGenerale ></app-esame-generale>
          </mat-tab>

         <mat-tab label="Esame Neurologica">
            <app-esame-neurologica [data]=schedaEsameNeurologia  ></app-esame-neurologica>
          </mat-tab>

          <mat-tab label="Mezzi di Contenzione">
            <app-mezzi-contenzione [data]=schedaMezziContenzione  ></app-mezzi-contenzione>
          </mat-tab>

          <mat-tab label="Valutazione Tecniche">
            <app-valutazione-tecniche [data]=schedaValutazioneTecniche></app-valutazione-tecniche>
          </mat-tab>

        <mat-tab label="Visite specialistiche/Esami paraclinici">
            <app-visite-specialistiche [data]=data.paziente ></app-visite-specialistiche>
          </mat-tab>

         <mat-tab label="Diario">
            <app-diario-clinico [data]=data.paziente >></app-diario-clinico>
          </mat-tab>


          <mat-tab label="Dimissione Ospite">
            <app-dimissioni [data]=data.paziente >></app-dimissioni>
          </mat-tab>


          <mat-tab label="Decesso Ospite">
            <app-decesso [data]=data.paziente >></app-decesso>
          </mat-tab>



        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
  <button mat-button [mat-dialog-close]="true">Chiudi</button>
  <button mat-button (click)="salva()" class="button-insert">Salva</button>
</div>
</div>
