<div mat-dialog-title>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">
        <h3>CARTELLA CLINICA</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid" >
    <div class="row">
      <div class="col">

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Generale">
            <app-paziente-generale [disable]=true [data]=data.paziente></app-paziente-generale>
          </mat-tab>

          <mat-tab label="Anamnesi Famigliare">
            <app-anamnesi-famigliare [data]=data.paziente [disable]=data.readonly></app-anamnesi-famigliare>
          </mat-tab>

          <mat-tab label="Anamnesi Patologica">
            <app-anamnesi-patologica [data]=data.paziente [disable]=data.readonly></app-anamnesi-patologica>
          </mat-tab>

          <mat-tab label="Esame Generale">
            <app-esame-generale [data]=data.paziente [disable]=data.readonly></app-esame-generale>
          </mat-tab>

          <mat-tab label="Esame Neurologica">
            <app-esame-neurologica [data]=data.paziente [disable]=data.readonly></app-esame-neurologica>
          </mat-tab>

          <mat-tab label="Mezzi di Contenzione">
            <app-mezzi-contenzione [data]=data.paziente [disable]=data.readonly></app-mezzi-contenzione>
          </mat-tab>

          <mat-tab label="Valutazione Tecniche">
            <app-valutazione-tecniche [data]=data.paziente [disable]=data.readonly></app-valutazione-tecniche>
          </mat-tab>

          <mat-tab label="Visite specialistiche/Esami paraclinici">
            <app-visite-specialistiche [data]=data.paziente [disable]=data.readonly></app-visite-specialistiche>
          </mat-tab>

          <mat-tab label="Diario">
            <app-diario-pisico [paziente]=data.paziente [disable]=data.readonly>></app-diario-pisico>
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
  <button mat-button [mat-dialog-close]="true">Chiudi</button>
  <button mat-button class="button-insert">Salva</button>
</div>
</div>
