.example-card {
  min-width: 500px;
  margin: 0px;
}

h3 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #676a6c;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}

button,
select {
  text-transform: none;
}

.bottom-actions {
  width: 100%;
  text-align: right;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  /* background-color: rgba(0, 0, 0, 0.04); */
  background-color: white;
}

.input-full {
  width: 100%;
}


.pad {
  padding-left: 6%;
  padding-top: 3%;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  color: #676a6c;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-action {
  width: 32px;
}

.clickable-switch {
  width: 60px; /* Aumenta la larghezza del contenitore */
  height: 60px; /* Aumenta l'altezza del contenitore */
  justify-content: center; /* Centra verticalmente gli elementi */
}

  .clickable-switch label {
    text-align: center;
    width: 100%; /* Assicura che la label sia completamente centrata */
    font-size: 14px;
  }

  .clickable-switch input {
    margin: 0 auto; /* Centra lo switch */
    cursor: pointer; /* Aggiunge un puntatore per indicare che è cliccabile */
  }

.form-check {
  padding: 8px; /* Aumenta il padding per migliorare l'area cliccabile */
  border-radius: 6px; /* Angoli arrotondati per migliorare la visibilità */
}

  .form-check:hover {
    background-color: white; /* Aggiunge un effetto hover per migliorare l'interattività */
  }
