<div mat-dialog-title>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h3>Allega Certificato</h3>
        </div>

        <div class="col">
          <button class="close-button" [mat-dialog-close]="true">×
          </button>
        </div>
      </div>


    </div>
  </div>

  <mat-dialog-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
            <input type="file" (change)="uploadCertificato($event)" accept=".pdf">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-label>Note: </mat-label>
          <br />
          <mat-form-field>
            <input matInput type="text" placeholder="Note" [(ngModel)]="note">
          </mat-form-field>
        </div>
      </div>
    </div>

  </mat-dialog-content>


  <div mat-dialog-actions>
    <div class="bottom-actions">
      <button mat-button [mat-dialog-close]="true">Chiudi</button>
      <button mat-button class="button-save" (click)="save()">Salva</button>
    </div>
  </div>
