<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">AREA SOCIO PSICOLOGICA</h1>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- <app-table-ospiti (showItemEmiter)="show($event)" [buttons]='["Mostra"]'></app-table-ospiti> -->


      <app-table-ospiti
          [eventPazienti]="eventsSubject.asObservable()"
          [showPatient]="showFunction"
          [deletePatient]=false
          [enableShow]=true
          [enableDeleting]=false
          [showInsert]=false>
      </app-table-ospiti>

    </div>
  </div>
</div>
