<div>
  <div class="containter pad">
    <div class="row">
      <div class="col ">
        <h1 class="title">Menu Generale</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-dialog-content>
          <mat-tab-group>
            <mat-tab label="Estivo">
              <div class="row">
                <div class="col">
                  <table mat-table [dataSource]="dataSourceMenuGeneraleEstivo" class="mat-elevation-z8">

                    <ng-container matColumnDef="action" >
                      <th mat-header-cell *matHeaderCellDef>
                      </th>
                      <td mat-cell *matCellDef="let row">

                        <button mat-button >
                          <img src="../../../assets/menu.png" style="height:31px" (click)="openMenuGeneraleEstivo(row)" matTooltip="Apri menu Personalizzato">
                        </button>

                      </td>
                    </ng-container>

                    <!-- Data Column -->
                    <ng-container matColumnDef="week">
                      <th mat-header-cell *matHeaderCellDef> N. Settimana </th>
                      <td mat-cell *matCellDef="let element"> {{element.week}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dataStartRif">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataStartRif | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dataEndRif">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataEndRif | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator #paginatorEstivo [pageSizeOptions]="[12]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>

              <!--
                <div class="row">
                  <div class="col">
                    <button mat-button (click)="addMenuWeek()">Nuovo</button>
                  </div>
                </div>
              -->
            </mat-tab>

            <mat-tab label="Invernale">
              <div class="row">
                <div class="col">
                  <table mat-table [dataSource]="dataSourceMenuGeneraleInvernale" class="mat-elevation-z8">

                    <ng-container matColumnDef="action" >
                      <th mat-header-cell *matHeaderCellDef>
                      </th>
                      <td mat-cell *matCellDef="let row">

                        <button mat-button >
                          <img src="../../../assets/menu.png" style="height:31px" (click)="openMenuGeneraleEstivo(row)" matTooltip="Apri menu Personalizzato">
                        </button>

                      </td>
                    </ng-container>

                    <!-- Data Column -->
                    <ng-container matColumnDef="week">
                      <th mat-header-cell *matHeaderCellDef> N. Settimana </th>
                      <td mat-cell *matCellDef="let element"> {{element.week}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dataStartRif">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataStartRif | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dataEndRif">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element"> {{element.dataEndRif | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator #paginatorInvernale [pageSizeOptions]="[12]" showFirstLastButtons aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Archivio">
              <div class="row">
                <div class="col">
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
