<div>
  <div class="containter pad">
    <div class="row">
      <div class="col ">
        <h1 class="title">Menu Generale</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-dialog-content>
          <mat-tab-group>
            <mat-tab label="Estivo">
              <div class="row">
                <div class="col">

                </div>
              </div>
            </mat-tab>

            <mat-tab label="Invernale">
              <div class="row">
                <div class="col">
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Archivio">
              <div class="row">
                <div class="col">
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
