<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">HACCP - Derrate Alimentari</h1>
    </div>
  </div>

  <hr>



  <mat-tab-group>
    <mat-tab label="Alimenti">
      <div class="container-flex">

        <hr>
        <div class="row">
          <div class="col">
            <button mat-button class="button-insert" (click)="AddAlimento()">Inserisci</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="standard">
              <mat-label>Cerca</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Cerca qui..." #input>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <table mat-table [dataSource]="derrantiAlimentiDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row">
                  <div>

                    <button mat-button (click)="modify(row)" matTooltip="Modifica">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                      </svg>
                    </button>

                    <button mat-button (click)="carico(row)" matTooltip="Carico/Scarico">
                      <img src="../../../assets/scarico_carico.svg" style="width: 26px;">
                    </button>

                 </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="dateInsert">
                <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dateInsert | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="quantita">
                <th mat-header-cell *matHeaderCellDef> Quantità </th>
                <td mat-cell *matCellDef="let element"> {{element.quantita}} {{element.unita}}</td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="derrantiAlimentiDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: derrantiAlimentiDisplayedColumns;"></tr>
            </table>
            <mat-paginator #paginatorDerranteAlimenti [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>

      </div>
    </mat-tab>
    <mat-tab label="Storico">
      <div class="container-flex">
        <div class="row">
          <div class="col">
            <table mat-table [dataSource]="derrantiAlimentiStoricoDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="dateInsert">
                <th mat-header-cell *matHeaderCellDef> Data Inserimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dateInsert | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="quantita">
                <th mat-header-cell *matHeaderCellDef> Quantità </th>
                <td mat-cell *matCellDef="let element"> {{element.quantita}} {{element.unita}}</td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Note </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
              </ng-container>

              <ng-container matColumnDef="operazione">
                <th mat-header-cell *matHeaderCellDef> Operazione </th>
                <td mat-cell *matCellDef="let element"> {{element.operazione}} </td>
              </ng-container>

              <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> Utente </th>
                <td mat-cell *matCellDef="let element"> {{element.user?.username}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="derrantiAlimentiStoricoDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: derrantiAlimentiStoricoDisplayedColumns;"></tr>
            </table>
            <mat-paginator #paginatorDerranteAlimentiStorico [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>


      </div>
    </mat-tab>
  </mat-tab-group>

</div>
