<div class="container-flex">

  <div class="row">
    <div class="col">
      <label>Novembre 2021</label>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Dati">

          <table>
            <thead>
              <td>GG</td>
              <td>PA/FC (MA-GIO)</td>
              <td>TC (MA-GIO)</td>
              <td>SPO2 (MAR-GIO)</td>
              <td>DIURESI (SEMPRE)</td>
              <td>GLIC. (LU-ME-VE)</td>
              <td>ANNOTAZIONI</td>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.paramVitali">
                <td>{{item.gg}}</td>
                <td>
                  <table style="margin:unset">
                    <tr>
                      <td class="item">{{item.pa[0].y}}</td>
                      <td class="item">{{item.pa[1].y}}</td>
                      <td class="item">{{item.pa[2].y}}</td>
                      <td class="item">{{item.pa[3].y}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table style="margin:unset">
                    <tr>
                      <td class="item">{{item.tc[0].y}}</td>
                      <td class="item">{{item.tc[1].y}}</td>
                      <td class="item">{{item.tc[2].y}}</td>
                      <td class="item">{{item.tc[3].y}}</td>
                      <td class="item">{{item.tc[4].y}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table style="margin:unset">
                    <tr>
                      <td class="item">{{item.spo2[0].y}}</td>
                      <td class="item">{{item.spo2[1].y}}</td>
                      <td class="item">{{item.spo2[2].y}}</td>
                      <td class="item">{{item.spo2[3].y}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table style="margin:unset">
                    <tr>
                      <td class="item">{{item.diurisi[0].y}}</td>
                      <td class="item">{{item.diurisi[1].y}}</td>
                      <td class="item">{{item.diurisi[2].y}}</td>
                      <td class="item">{{item.diurisi[3].y}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table style="margin:unset">
                    <tr>
                      <td class="item">{{item.glic[0].y}}</td>
                      <td class="item">{{item.glic[1].y}}</td>
                      <td class="item">{{item.glic[2].y}}</td>
                      <td class="item">{{item.glic[3].y}}</td>
                    </tr>
                  </table>
                </td>
                <td>{{item.annotazioni}}</td>
              </tr>
            </tbody>
          </table>

        </mat-tab>

        <mat-tab label="Grafici">
          <div class="chart-wrapper">
            <canvas baseChart [datasets]="lineChartData" [options]="chartOptions" chartType="line"> </canvas>

            <canvas baseChart
            [datasets]="radarChartData"
            [options]="radarChartOptions"
            [labels]="radarChartLabels"
            [chartType]="radarChartType">
          </canvas>

        </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
