<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h4 class="title">Menu Generale
        <label>
          {{data.type === 0 ? 'Estivo' : 'Invernale'}}
        </label>
      </h4>
    </div>

    <div class="col right">
      <div class="container">
        <div class="row">
          <div class="col right">
            <label>Data di Riferimento</label>
          </div>
          <div class="col1">
            {{data.dataStartRif | date: 'dd/MM/yyyy'}} - {{data.dataEndRif | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <table>
    <tr style="color: red">
      <th style="background-color: yellow;">Domenica</th>
      <th>Lunedi</th>
      <th>Martedi</th>
      <th>Mercoledi</th>
      <th>Giovedi</th>
      <th>Venedi</th>
      <th>Sabato</th>
    </tr>
    <tr>
      <td *ngFor="let item of arrayWeek" class="week">Colazione</td>
    </tr>
    <tr>
      <td *ngFor="let item of arrayWeek">
        <mat-form-field class="full" appearance="fill" >
          <mat-label>Colazione</mat-label>
          <input matInput placeholder="Inserisci colazione" [(ngModel)]="item.colazione">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td *ngFor="let item of arrayWeek" class="week">Spuntino</td>
    </tr>
    <tr>
      <td *ngFor="let item of arrayWeek">
        <mat-form-field class="full" appearance="fill" >
          <mat-label>Spuntino</mat-label>
          <input matInput placeholder="Inserisci Spuntino" [(ngModel)]="item.spuntino">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td *ngFor="let item of arrayWeek" class="week">Pranzo</td>
    </tr>
    <tr>
      <td *ngFor="let item of arrayWeek">
        <mat-form-field class="full" appearance="fill" >
          <mat-label>Pranzo</mat-label>
          <input matInput placeholder="Inserisci Pranzo" [(ngModel)]="item.pranzo">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td *ngFor="let item of arrayWeek" class="week">Merenda</td>
    </tr>
    <tr>
      <td *ngFor="let item of arrayWeek">
        <mat-form-field class="full" appearance="fill" >
          <mat-label>Merenda</mat-label>
          <input matInput placeholder="Inserisci Merenda" [(ngModel)]="item.merenda">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td *ngFor="let item of arrayWeek" class="week">Cena</td>
    </tr>
    <tr>
      <td *ngFor="let item of arrayWeek">
        <mat-form-field class="full" appearance="fill" >
          <mat-label>Cena</mat-label>
          <input matInput placeholder="Inserisci Cena" [(ngModel)]="item.cena">
        </mat-form-field>
      </td>
    </tr>


  </table>


  <div class="row">
    <div class="col">
    <button mat-button (click)="save()">Salva</button>
    <button mat-button (click)="cancel()">Cancella</button>
  </div>
</div>
