<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h4 class="title">Menu Generale -
          {{data.type === 0 ? 'Estivo' : 'Invernale'}}
      </h4>
    </div>

    <div class="col right">
      <div class="container">
        <div class="row">
          <div class="col right">
            <label>Data di Riferimento</label>
          </div>
          <div class="col1">
            {{data.dataStartRif | date: 'dd/MM/yyyy'}} - {{data.dataEndRif | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <table>
      <tr style="color: black; background-color: dodgerblue;" >
          <th style="background-color: white;"></th>
          <th style="background-color: red;">Domenica</th>
          <th>Lunedi</th>
          <th>Martedi</th>
          <th>Mercoledi</th>
          <th>Giovedi</th>
          <th>Venedi</th>
          <th>Sabato</th>
      </tr>


      <tr>
          <td style="background-color: dodgerblue;"><strong>Colazione</strong></td>
          <td *ngFor="let item of arrayWeek">
              <input matInput type="text" class="form-control" placeholder="Inserisci Colazione" [(ngModel)]="item.colazione">
          </td>
      </tr>


      <tr>
          <td style="background-color: dodgerblue;"><strong>Spuntino</strong></td>
          <td *ngFor="let item of arrayWeek">
              <input matInput type="text" class="form-control" placeholder="Inserisci Spuntino" [(ngModel)]="item.spuntino">
          </td>
      </tr>

      <tr>
          <td style="background-color: dodgerblue;"><strong>Pranzo</strong></td>
          <td *ngFor="let item of arrayWeek">
              <input matInput type="text" class="form-control" placeholder="Inserisci Pranzo" [(ngModel)]="item.pranzo">
          </td>
      </tr>

      <tr>
          <td style="background-color: dodgerblue;"><strong>Merenda</strong></td>
          <td *ngFor="let item of arrayWeek">
              <input matInput type="text" class="form-control" placeholder="Inserisci Merenda" [(ngModel)]="item.merenda">
          </td>
      </tr>

      <tr>
          <td style="background-color: dodgerblue;"><strong>Cena</strong></td>
          <td *ngFor="let item of arrayWeek">
              <input matInput type="text" class="form-control" placeholder="Inserisci Cena" [(ngModel)]="item.cena">
          </td>
      </tr>


  </table>


  <div mat-dialog-actions>
      <div class="bottom-actions">
          <button mat-button [mat-dialog-close]="undefined">Chiudi</button>
          <button mat-button (click)="save()">Salva</button>
          <!--<button mat-button class="button-insert" (click)="save(true)" [disabled]=uploading>Salva e Chiudi</button>-->
      </div>
  </div>
