<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>DIARIO RIABILITATIVO</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <label>Data*</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Scegli una date</mat-label>
          <!-- <input matInput [matDatepicker]="data" [(ngModel)]="diario.data">
          <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
          <mat-datepicker #data></mat-datepicker> -->
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>CONTROLLO* </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="diario.controllo">
          <mat-radio-button value="1">&#x25B2;</mat-radio-button>
          <mat-radio-button value="2">&#x25FC;</mat-radio-button>
          <mat-radio-button value="3">&#x25BC;</mat-radio-button>
        </mat-radio-group>

      </div>
    </div>

    <div class="row" >
      <div class="col">
        <label>Note*</label>
      </div>
    </div>
    <div class="row" >
      <div class="col">

        <mat-form-field appearance="fill">
          <textarea matInput placeholder="Inserisci il contenuto" [(ngModel)]="diario.note"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <label>Firma*</label>
      </div>
    </div>
    <div class="row" >
      <div class="col">

        <mat-form-field appearance="fill">
          <textarea matInput placeholder="Inserisci il contenuto" [(ngModel)]="diario.firma"></textarea>
        </mat-form-field>
      </div>
    </div>

  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="undefined">Chiudi</button>
    <button mat-button class="button-insert" (click)="save()">Salva</button>
  </div>
</div>
