<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI PATOLOGICA REMOTA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="cartella.anamnesiRemota"  (change)="change()"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ANAMNESI PATOLOGICA PROSSIMA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="cartella.anamnesiProssima" (change)="change()"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>TERAPIA IN ATTO A DOMICILIO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="cartella.terapiaDomicilio" (change)="change()"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>REAZIONI AVVERSE DA FARMACI</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea class="form-control value_input" rows="1" cols="150" [(ngModel)]="cartella.reazioneAFarmaci" (change)="change()"></textarea>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
