.pad {
  padding-left: 6%;
  padding-top: 3%;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  color: #676a6c;
}

table {
  width: 100%;
}

img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
