<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Gestione Armadio - {{camera.camera}}</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Contenuto">
            <table mat-table [dataSource]="dataSourceIndumenti" class="mat-elevation-z8">

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Descrizione </th>
                <td mat-cell *matCellDef="let element"> {{element.indumento.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="quantita">
                <th mat-header-cell *matHeaderCellDef> Quantit&agrave; </th>
                <td mat-cell *matCellDef="let element"> {{element.indumento.quantita}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Nota </th>
                <td mat-cell *matCellDef="let element"> {{element.indumento.note}} </td>
              </ng-container>

              <ng-container matColumnDef="paziente">
                <th mat-header-cell *matHeaderCellDef> Paziente </th>
                <td mat-cell *matCellDef="let element"> {{element.indumento.paziente.nome}} {{element.indumento.paziente.cognome}} </td>
              </ng-container>

              <ng-container matColumnDef="idPaziente">
                <td mat-cell *matCellDef="let groupBy">{{groupBy.indumento.idPaziente}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsIndumenti"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsIndumenti;"></tr>

              <!-- Group header -->
              <ng-container matColumnDef="groupHeader">
                <td colspan="999" mat-cell *matCellDef="let groupBy"><strong>{{groupBy.paziente.nome}} {{groupBy.paziente.cognome}}</strong></td>
              </ng-container>

              <tr style="background-color: #d4f2ff;" mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>

          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="true">Chiudi</button>
  </div>
</div>
