<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Gestione Armadio - {{camera.camera}}</h3>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <mat-label>Periodo di riferimento -
          Dal <span style="font-weight: bold;">{{currentArmadio?.dateStartRif | date: 'dd/MM/yyyy'}}</span>
          Al  <span style="font-weight: bold;">{{currentArmadio?.dateEndRif | date: 'dd/MM/yyyy'}}</span>
        </mat-label>
      </div>

      <div class="col">
        <mat-label>Ultima Verifica:
          <span style="font-weight: bold;">{{currentArmadio?.lastChecked.data | date: 'dd/MM/yyyy'}}</span>
        </mat-label>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">


        <mat-tab-group mat-align-tabs="start">

          <mat-tab label="Verifica Armadio">
            <div class="container-fluid" style="padding: 0 12px">
              <div class="row">
                <mat-label>Verifica completata al {{currentArmadio?.rateVerifica}} % (
                  <span [ngStyle]="{'color':
                  currentArmadio?.rateVerifica === 100 ? '#007800' :
                  currentArmadio?.rateVerifica === 0 ? 'rgb(255 0 0)':
                  'rgb(255 165 0)'}">{{currentArmadio?.rateVerifica | castingVerifica}}</span>
                  )</mat-label>
              </div>

              <div class="row" *ngIf="currentArmadio?.rateVerifica !== 100">
                <div class="col">
                  <mat-form-field appearance="fill" style="display: unset;">
                    <mat-label>Seleziona il Paziente</mat-label>
                    <mat-select [(ngModel)]="selectedPatient"
                      (selectionChange)="changePatient($event)">
                      <mat-option *ngFor="let item of dataSourcePatients | async"
                                  [value]="item"
                      >{{item.nome}} {{item.cognome}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2 center">
                  <button mat-button (click)="verifica()" style="width: 100%;"
                    [disabled]="currentArmadio?.rateVerifica === 100 || selectedPatient === undefined">
                    Verifica
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="currentArmadio?.rateVerifica !== 100">
                <table mat-table [dataSource]="dataSourceIndumentiByPatient | async" class="mat-elevation-z8">

                  <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Descrizione </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                  </ng-container>

                  <ng-container matColumnDef="quantita">
                    <th mat-header-cell *matHeaderCellDef> Quantit&agrave; </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantita}} </td>
                  </ng-container>

                  <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef> Nota </th>
                    <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsIndumentiByPatient"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsIndumentiByPatient;"></tr>

                </table>
              </div>

            </div>


          </mat-tab>

          <mat-tab label="Contenuto">

            <div>
              <table mat-table [dataSource]="dataSourceIndumenti" class="mat-elevation-z8">

                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef> Descrizione </th>
                  <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                </ng-container>

                <ng-container matColumnDef="quantita">
                  <th mat-header-cell *matHeaderCellDef> Quantit&agrave; </th>
                  <td mat-cell *matCellDef="let element"> {{element.quantita}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                  <th mat-header-cell *matHeaderCellDef> Nota </th>
                  <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsIndumenti"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsIndumenti;"></tr>

                <!-- Group header -->
                <ng-container matColumnDef="groupHeader">
                  <td colspan="999" mat-cell *matCellDef="let groupBy"><strong>{{groupBy.paziente.nome}} {{groupBy.paziente.cognome}}</strong></td>
                </ng-container>

                <tr style="background-color: #d4f2ff;" mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>

              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>

          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="true">Chiudi</button>
  </div>
</div>
