<div mat-dialog-title>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ng-container *ngIf="!data.editMode">
          <h4>Nuovo {{ data.type }}</h4>
        </ng-container>
        <ng-container *ngIf="data.editMode">
          <h4>{{ data.type }}: {{data.materiale.nome}}</h4>
        </ng-container>
      </div>

      <div class="col">
        <button class="close-button" [mat-dialog-close]="true">×
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>Tutti i campi indicati con * sono obbligatori.</span>
        <hr>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="container-fluid">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Seleziona {{ data.type }} </mat-label>
      <mat-select [(ngModel)]="materiale" (selectionChange)="changeMat($event,data.type)" [disabled]=disable>
        <mat-option *ngFor="let option of materiali" [value]="option._id">{{option.nome}} (scad. {{option.scadenza | date: 'dd/MM/yyyy'}})</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Seleziona la quantità</mat-label>
          <input matInput type="number" placeholder="Quantità" min="0" [attr.max]="quantitaMax" [(ngModel)]="quantita">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <textarea matInput rows="2" [(ngModel)]="note" placeholder="Note"></textarea>
        </mat-form-field>
      </div>
    </div>

  </div>


</mat-dialog-content>


<div mat-dialog-actions>
  <div class="bottom-actions">
    <button mat-button [mat-dialog-close]="false">Chiudi</button>
    <button mat-button class="button-save" (click)="save()">Salva</button>
  </div>
</div>
