<div class="tabcontent">

  <table>
    <tbody>
      <tr>
        <td>
          <h5>Cognome: </h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.cognome" [disabled]=disable (change)="change()">
        </td>

        <td>
          <h5>Nome: </h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.nome" [disabled]=disable (change)="change()">
        </td>
      </tr>

      <tr>
        <td>
          <label>
            <h5>Luogo di nascita: </h5>
          </label>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.luogoNascita" [disabled]=disable (change)="change()">
        </td>
        <td>
          <h5 class="font-normal">Data di nascita:</h5>
        </td>
        <td>
          <div class="form-group" >
            <mat-form-field appearance="fill" >
              <mat-label>Scegli una date</mat-label>
              <input matInput [matDatepicker]="dataNascita" [(ngModel)]="data.dataNascita" [disabled]=disable (change)="change()">
              <mat-datepicker-toggle matSuffix [for]="dataNascita" ></mat-datepicker-toggle>
              <mat-datepicker #dataNascita></mat-datepicker>
            </mat-form-field>
          </div>

        </td>

      </tr>

      <tr>
      <td>
        <label>
          <h5>Comune di nascita: </h5>
        </label>
      </td>
      <td>
        <input class="input-cartelle" type="text" [(ngModel)]="data.comuneNascita" [disabled]=disable (change)="change()">
      </td>
      <td>
        <h5 class="font-normal">Provincia di nascita:</h5>
      </td>
      <td>
        <input class="input-cartelle" type="text" [(ngModel)]="data.provinciaNascita" [disabled]=disable (change)="change()">
      </td>
      </tr>

      <br>

      <tr>
        <td>
          <label>
            <h5>Indirizzo Residenza: </h5>
          </label>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.indirizzoResidenza" [disabled]=disable (change)="change()">
        </td>

        <td>
          <h5>Comune di Residenza</h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.comuneResidenza" [disabled]=disable (change)="change()">
        </td>
      </tr>

      <tr>
        <td>
          <label>
            <h5>Provincia di Residenza: </h5>
          </label>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.provinciaResidenza" [disabled]=disable (change)="change()">
        </td>

        <td>
          <h5 >SESSO</h5>
        </td>
        <td>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="data.sesso"  [disabled]=disable [disabled]=true (change)="change()">
            <mat-radio-button class="example-radio-button" value='M' >M</mat-radio-button>
            <mat-radio-button class="example-radio-button" value='F' >F</mat-radio-button>
          </mat-radio-group>


        </td>
      </tr>


      <tr>
        <td>
          <h5>Stato Civile: </h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.statoCivile" [disabled]=disable (change)="change()">
        </td>
        <td>
          <label>
            <h5>Figli: </h5>
          </label>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.figli" [disabled]=disable (change)="change()">
        </td>

      </tr>


      <tr>
        <td>
          <h5>Scolarità: </h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.scolarita" [disabled]=disable (change)="change()">
        </td>
        <td>
          <h5>Situazione lavorativa: </h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.situazioneLavorativa" [disabled]=disable (change)="change()">
        </td>

      </tr>



      <tr>
        <td>
          <h5>Persone di riferimento: </h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.personeRiferimento" [disabled]=disable (change)="change()">
        </td>
        <td>
          <h5>Tel: </h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.telefono" [disabled]=disable (change)="change()">
        </td>

      </tr>


      <tr>
        <td>
          <h5 class="font-normal">DATA D'INGRESSO:</h5>
        </td>
        <td>
          <div class="form-group" id="input_data_ingresso">
            <mat-form-field appearance="fill">
              <mat-label>Scegli data</mat-label>
              <input matInput [matDatepicker]="dataIngresso" [(ngModel)]="data.dataIngresso" [disabled]=disable (change)="change()">
              <mat-datepicker-toggle matSuffix [for]="dataIngresso"></mat-datepicker-toggle>
              <mat-datepicker #dataIngresso></mat-datepicker>
            </mat-form-field>
          </div>

        </td>
        <td>
          <h5>PROVENIENZA</h5>
        </td>
        <td>
          <input class="input-cartelle" type="text" [(ngModel)]="data.provenienza" (change)="change()" [disabled]=disable>
        </td>

      </tr>


    </tbody>
  </table>

</div>

<!--
<div mat-dialog-actions *ngIf="!disable">
  <div class="bottom-actions">
  <button mat-button [mat-dialog-close]="true">Chiudi</button>
  <button mat-button class="button-insert" (click)="save()">Salva</button>
</div> -->
