.tabcontent {
  margin-top: 30px;
}

h5 {
  margin-top: 5px;
  font-size: 12px;
  color: #676a6c;
}

label {
  font-size: 12px;
  font-weight: 400;
}

mat-form-field {
  width: 204px;
}

table {
  width: 100%;
}

::ng-deep .mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after {
  color: rgb(0, 0, 0);
}

::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
  background-color: rgb(0, 0, 0);
}
::ng-deep
  .mat-radio-button.mat-radio-disabled.mat-radio-checked
  .mat-radio-outer-circle,
.mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
  border-color: rgb(0, 0, 0);
}

::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: rgb(0, 0, 0);
}

::ng-deep .mat-radio-label {
  padding-right: 20px;
}

input:disabled {
  cursor: default;
  background-color: rgb(255, 255, 255) !important;
  border: unset;
}

::ng-deep
.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: rgb(255, 255, 255);
}
