<div class="employee-form-container">
    <!-- Form header -->
    <div class="form-header">
        <h4>Dati Fornitore</h4>
    </div>

    <!-- Form content -->
    <div class="form-content">
        <!-- Personal Info Section -->
        <div class="form-section">
            <div class="form-row">
                <div class="form-field">
                    <h5>Cognome*</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.cognome" [disabled]=disable (change)="change()">
                </div>
                <div class="form-field">
                    <h5>Nome*</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.nome" [disabled]=disable (change)="change()">
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <h5>Codice Fiscale*</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.codiceFiscale" [disabled]=disable (change)="change()">
                </div>
                <div class="form-field">
                    <h5>Sesso*</h5>
                    <mat-radio-group class="gender-radio-group" [(ngModel)]="data.sesso" (change)="change()" [disabled]=disable>
                        <mat-radio-button value='M'>M</mat-radio-button>
                        <mat-radio-button value='F'>F</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>

        <!-- Birth Info Section -->
        <div class="form-section">
            <div class="form-row">
                <div class="form-field">
                    <h5>Data di nascita*</h5>
                    <mat-form-field appearance="fill">
                        <mat-label>Scegli una data</mat-label>
                        <input matInput [matDatepicker]="dataNascita" [(ngModel)]="data.dataNascita" [disabled]=disable (change)="change()">
                        <mat-datepicker-toggle matSuffix [for]="dataNascita"></mat-datepicker-toggle>
                        <mat-datepicker #dataNascita></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <h5>Indirizzo di nascita</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.indirizzoNascita" [disabled]=disable (change)="change()">
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <h5>Comune di nascita</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.comuneNascita" [disabled]=disable (change)="change()">
                </div>
                <div class="form-field">
                    <h5>Provincia di nascita</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.provinciaNascita" [disabled]=disable (change)="change()">
                </div>
            </div>
        </div>

        <!-- Residence Info Section -->
        <div class="form-section">
            <div class="form-row">
                <div class="form-field">
                    <h5>Indirizzo Residenza</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.indirizzoResidenza" [disabled]=disable (change)="change()">
                </div>
                <div class="form-field">
                    <h5>Comune Residenza</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.comuneResidenza" [disabled]=disable (change)="change()">
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <h5>Provincia Residenza</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.provinciaResidenza" [disabled]=disable (change)="change()">
                </div>
            </div>
        </div>

        <!-- Work Info Section -->
        <div class="form-section">
            <div class="form-row">
                <div class="form-field">
                    <h5>Mansione</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.mansione" [disabled]=disable (change)="change()">
                </div>
                <div class="form-field">
                    <h5>Tipo Contratto</h5>
                    <input class="form-input" type="text" [(ngModel)]="data.tipoContratto" [disabled]=disable (change)="change()">
                </div>
            </div>
        </div>

        <!-- Contact Info Section -->
        <div class="form-section">
            <div class="form-row">
                <div class="form-field">
                    <h5>Telefono</h5>
                    <input class="form-input" type="tel" [(ngModel)]="data.telefono" [disabled]=disable (change)="change()">
                </div>
                <div class="form-field">
                    <h5>Email</h5>
                    <input class="form-input" type="email" [(ngModel)]="data.email" [disabled]=disable (change)="change()">
                </div>
            </div>
        </div>
    </div>

    <!-- Required Fields Note -->
    <div class="form-footer">
        <strong class="required-note">I campi indicati con * sono obbligatori!</strong>
    </div>
</div>
