<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h4>VALUTAZIONE RISCHIO ULCERE DA DECUBITO:INDICE DI NORTON</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Condizioni generai</th>
                      <th></th>
                      <th>Stato mentale</th>
                      <th></th>
                      <th>Deambulazione</th>
                      <th></th>
                      <th>Mobilità</th>
                      <th></th>
                      <th>Incontinenza</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Buone</td>
                      <td>4</td>
                      <td>Lucido</td>
                      <td>4</td>
                      <td>Normale</td>
                      <td>4</td>
                      <td>Piena</td>
                      <td>4</td>
                      <td>Assente</td>
                      <td>4</td>

                    </tr>
                    <tr>
                      <td>Discrete</td>
                      <td>3</td>
                      <td>Apatico</td>
                      <td>3</td>
                      <td>Cammina con aiuto</td>
                      <td>3</td>
                      <td>Moderatamente limitata</td>
                      <td>3</td>
                      <td>Occasionale</td>
                      <td>3</td>

                    </tr>
                    <tr>
                      <td>Scadenti</td>
                      <td>2</td>
                      <td>Confuso</td>
                      <td>2</td>
                      <td>Costretto su sedia</td>
                      <td>2</td>
                      <td>Molto limitata</td>
                      <td>2</td>
                      <td>urinaria</td>
                      <td>2</td>

                    </tr>

                    <tr>
                      <td>Pessime</td>
                      <td>1</td>
                      <td>Soporoso</td>
                      <td>1</td>
                      <td>Costretto a letto</td>
                      <td>1</td>
                      <td>Immobile</td>
                      <td>1</td>
                      <td>Doppia</td>
                      <td>1</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h4>Interpretazione del punteggio</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-radio-group [(ngModel)]="data.indiceNorton">
                  <mat-radio-button value="1" [disabled]=disable>20 - 15 rischio assente</mat-radio-button>
                  <mat-radio-button value="2" [disabled]=disable>14 - 13 rischio lieve</mat-radio-button>
                  <mat-radio-button value="2" [disabled]=disable>12 - 5 rischio elevato</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col">
                <h4>Totale:</h4>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <input type="text" [disabled]=disable [(ngModel)]="data.totale">
              </div>
            </div>
          </div>



        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
