<div class="ulcere-form-container">
  <!-- Form header -->
  <div class="form-header">
    <h4>VALUTAZIONE RISCHIO ULCERE DA DECUBITO: INDICE DI NORTON</h4>
  </div>

  <!-- Form content -->
  <div class="form-content">
    <!-- Sezione Tabella Norton -->
    <div class="form-section">
      <div class="table-responsive">
        <table class="table norton-table">
          <thead>
            <tr>
              <th>Condizioni generali</th>
              <th class="score-column"></th>
              <th>Stato mentale</th>
              <th class="score-column"></th>
              <th>Deambulazione</th>
              <th class="score-column"></th>
              <th>Mobilità</th>
              <th class="score-column"></th>
              <th>Incontinenza</th>
              <th class="score-column"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Buone</td>
              <td class="score-column">4</td>
              <td>Lucido</td>
              <td class="score-column">4</td>
              <td>Normale</td>
              <td class="score-column">4</td>
              <td>Piena</td>
              <td class="score-column">4</td>
              <td>Assente</td>
              <td class="score-column">4</td>
            </tr>
            <tr>
              <td>Discrete</td>
              <td class="score-column">3</td>
              <td>Apatico</td>
              <td class="score-column">3</td>
              <td>Cammina con aiuto</td>
              <td class="score-column">3</td>
              <td>Moderatamente limitata</td>
              <td class="score-column">3</td>
              <td>Occasionale</td>
              <td class="score-column">3</td>
            </tr>
            <tr>
              <td>Scadenti</td>
              <td class="score-column">2</td>
              <td>Confuso</td>
              <td class="score-column">2</td>
              <td>Costretto su sedia</td>
              <td class="score-column">2</td>
              <td>Molto limitata</td>
              <td class="score-column">2</td>
              <td>Urinaria</td>
              <td class="score-column">2</td>
            </tr>
            <tr>
              <td>Pessime</td>
              <td class="score-column">1</td>
              <td>Soporoso</td>
              <td class="score-column">1</td>
              <td>Costretto a letto</td>
              <td class="score-column">1</td>
              <td>Immobile</td>
              <td class="score-column">1</td>
              <td>Doppia</td>
              <td class="score-column">1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Sezione Interpretazione -->
    <div class="form-section">
      <h4>Interpretazione del punteggio</h4>
      <div class="radio-group">
        <mat-radio-group [(ngModel)]="data.indiceNorton" [disabled]="disable">
          <div class="radio-option">
            <mat-radio-button value="1">20 - 15 rischio assente</mat-radio-button>
          </div>
          <div class="radio-option">
            <mat-radio-button value="2">14 - 13 rischio lieve</mat-radio-button>
          </div>
          <div class="radio-option">
            <mat-radio-button value="3">12 - 5 rischio elevato</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>

    <!-- Sezione Totale -->
    <div class="form-section">
      <div class="form-row">
        <div class="form-field">
          <h5>Totale:</h5>
          <input type="text" class="form-input" [disabled]="disable" [(ngModel)]="data.totale">
        </div>
      </div>
    </div>
  </div>
</div>
