<div class="container-fluid tabcontent">
    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>IADL (indice di dipendenza nelle attività strumentali della vita quotidiana) </mat-card-title>
          </mat-card-header>
          <mat-card-content>


            <table>
                <tr>
                  <td>A) CAPACITA’ DI USARE IL TELEFONO </td>
                  <td>
                      <select matNativeControl required class="custom-select" [(ngModel)]="data.A">
                        <option selected="" value="">Seleziona ...</option>
                        <option value="1-1">Usa il telefono di propria iniziativa (alza la cornetta, compone il numero.....):  1</option>
                        <option value="2-1">Compone solo alcuni numeri ben conosciuti: 1</option>
                        <option value="3-1">Risponde al telefono ma non è capace di comporre i numeri: 1</option>

                        <option value="4-0">Non è in grado di usare il telefono: 0</option>
                        <option value="5-0"> Rifiuto - non applicabile: 0</option>

                    </select>
                  </td>
                </tr>
                <tr>
                    <td>B) FARE ACQUISTI</td>
                    <td>
                        <select matNativeControl required class="custom-select" [(ngModel)]="data.B">
                          <option selected="" value="">Seleziona ...</option>
                          <option value="1-1">Fa tutte le proprie spese senza aiuto: 1</option>
                          <option value="2-0">Fa piccoli acquisti senza aiuto: 0</option>
                          <option value="3-0">Ha bisogno di essere accompagnato ogni volta che deve acquistare qualcosa: 0</option>

                          <option value="4-0">Non è in grado di fare acquisti: 0</option>
                          <option value="5-0">Rifiuto - non applicabile: 0</option>
                      </select>
                    </td>
                  </tr>


                  <tr>
                    <td>C) PREPARAZIONE DEL CIBO</td>
                    <td>
                        <select matNativeControl required class="custom-select" [(ngModel)]="data.C">
                          <option selected="" value="">Seleziona ...</option>
                          <option value="1-1">Organizza, prepara e serve i pasti in modo adeguato e senza aiuto: 1
                            </option>
                          <option value="2-0">Prepara pasti adeguati se gli vengono forniti gli ingredienti: 0 
                            </option>
                          <option value="3-0">Scalda e serve pasti preparati oppure prepara cibi, ma non mantiene una dieta adeguata: 0</option>
                          <option value="4-0">I pasti gli devono essere preparati e serviti: 0</option>
                          <option value="5-0">Rifiuto - non applicabile: 0</option>
                      </select>
                    </td>
                  </tr>



                  <tr>
                    <td>D) CAPACITA’ DI ACCUDIRE LA CASA</td>
                    <td>
                        <select matNativeControl required class="custom-select" [(ngModel)]="data.D">
                          <option selected="" value="">Seleziona ...</option>
                          <option value="1-1">Sbriga le faccende domestiche da solo o con assistenza occasionale per i lavori pesanti: 1
                            </option>
                          <option value="2-1">Esegue autonomamente i lavori domestici non pesanti (rifà il letto, lava i piatti.....): 1</option>
                          <option value="3-1">Esegue autonomamente i lavori domestici non pesanti ma non è in grado di mantenere un adeguato livello di pulizia della casa: 1</option>
                          <option value="4-0">Necessita di aiuto per tutti i lavori domestici: 0</option>
                          <option value="5-0">Non partecipa a nessuna azione di governo della casa: 0</option>
                          <option value="6-0">Rifiuto - non applicabile: 0</option>
                      </select>
                    </td>
                  </tr>




                  <tr>
                    <td>E) AUTONOMIA NEL LAVAGGIO DELLA BIANCHERIA</td>
                    <td>
                        <select matNativeControl required class="custom-select" [(ngModel)]="data.E">
                          <option selected="" value="">Seleziona ...</option>
                          <option value="1-1">Lava personalmente tutta la sua biancheria: 1</option>
                          <option value="2-1">Lava solo i piccoli capi di biancheria (calzini, fazzoletti): 1</option>
                          <option value="3-0">Tutta la biancheria deve essere lavata e stirata da altri: 0</option>
                          <option value="4-0">Rifiuto - non applicabile: 0</option>
                      </select>
                    </td>
                  </tr>



                  <tr>
                    <td>F) MEZZI DI TRASPORTO</td>
                    <td>
                        <select matNativeControl required class="custom-select" [(ngModel)]="data.F">
                          <option selected="" value="">Seleziona ...</option>
                          <option value="1-1">Si sposta da solo utilizzando i mezzi pubblici o guidando la propria auto: 1</option>
                          <option value="2-1">Per spostarsi usa il taxi, ma non i mezzi pubblici: 1</option>
                          <option value="3-1">Usa i mezzi pubblici se assistito o accompagnato da qualcuno: 1</option>
                          <option value="4-0">Può spostarsi soltanto in taxi o in auto con l’assistenza di qualcuno: 0</option>
                          <option value="5-0">Non si sposta con alcun tipo di mezzo di trasporto: 0</option>
                          <option value="6-0">Rifiuto - non applicabile: 0</option>
                          

                      </select>
                    </td>
                  </tr>



                  <tr>
                    <td>G) RESPONSABILITÀ NELL’USO DEI MEDICINALI</td>
                    <td>
                        <select matNativeControl required class="custom-select" [(ngModel)]="data.G">
                          <option selected="" value="">Seleziona ...</option>
                          <option value="1-1">Assume i medicinali prescritti nelle dosi giuste e negli orari corretti: 1</option>
                          <option value="2-0">Assume i medicinali solo se preparati in anticipo in dosi separate: 0</option>
                          <option value="3-0">Non è in grado di assumere correttamente le terapie da solo: 0</option>
                          <option value="4-0">Rifiuto - non applicabile: 0</option>
                          

                      </select>
                    </td>
                  </tr>



                  <tr>
                    <td>H) CAPACITA’ DI GESTIRE LE PROPRIE FINANZE</td>
                    <td>
                        <select matNativeControl required class="custom-select" [(ngModel)]="data.H">
                          <option selected="" value="">Seleziona ...</option>
                          <option value="1-1">Gestisce le proprie finanze in modo autonomo (scrive assegni, paga le tasse, va in banca, raccoglie e tiene nota delle entrate, riscuote la pensione): 1</option>
                          <option value="2-1">E’ in grado di fare piccoli acquisti ma necessita di aiuto per le operazioni più complesse (operazioni bancarie, acquisti maggiori....): 1</option>
                          <option value="3-0">Non è in grado di maneggiare denaro: 0</option>
                          <option value="4-0">Rifiuto - non applicabile: 0</option>
                          

                      </select>
                    </td>
                  </tr>



                  <tr>
                    <td>PUNTEGGIO TOTALE :</td>
                    <td>
                        {{ data.totale }}/8                     
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2"> NB: Se il mancato esercizio di una attività non è legato ad una perdita di funzione ma al fatto che quella attività non è mai statasvolta anche quando la persona era sana ed autonoma barrare la casella “non applicabile”. Nel dubbio,soprattutto per gli uomini e per quelle attività identificate come prevalentemente femminili, utilizzare sempre questa opzione.                    
                    </td>
                  </tr>


                  <tr>
                    <td colspan="2"> <b>Il dato finale può essere riportato:</b>
                        • sommando i punteggi conseguiti; il risultato sarà un numero intero compreso fra 0 ed 8;
                        0 corrisponde alla massima autonomia ed 8 alla totale dipendenza.
                        Nei maschi, data la minore abitudine ad eseguire alcune compiti domestici, il fondo scala può essere limitato a 5.
                        
                    </td>
                  </tr>

              </table>

              
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

