.tabcontent {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  select.custom-select {
    width: 100%;
    color: #495057;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  }
  
  ::ng-deep .mat-card-header-text {
    margin: 0px !important;
    font-size: 14px;
    color: #676a6c;
  }
  
  ::ng-deep .mat-card-header .mat-card-title {
    font-size: 14px;
  }
  
  .mat-card {
    padding: 0px;
    box-shadow: unset;
  }
  
  .mat-radio-button {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  ::ng-deep .mat-card-content {
    padding-bottom: 10px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-checkbox {
    margin-right: 10px
  }
  
  .mat-card-content {
    margin-bottom: 0;
    padding: 10px;
  }
  
  select {
    background-color: white;
  }
  
  
  table {
    width: 100%;
  }
  
  td{
    padding-top: 25px;
  }
  
  .mat-column-action {
    /* width: 32px; */
    text-align: right;
  }
  
  
  .mat-form-field {
    width: 100%;
  }
  
  .button-info {
    color: #fff;
    background-color: #23c6c8;
    border-color: #23c6c8;
    margin-bottom: 7px;
  }
  