<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">AREA Amministrativa - Fornitori</h1>
    </div>
  </div>

  <hr>

  <div class="row">
      <div class="col">
          <app-table-fornitori [eventFornitori]="eventsSubject.asObservable()"
                               [insertFunction]="getInsertFunction()"
                               [showAdmin]="showFunction"
                               (deleteFornitoreEmiter)="deleteAdmin($event)"
                               [enableShow]=true
                               [enableDeleting]=true
                               [showInsert]=true>
              >
          </app-table-fornitori>
      </div>
  </div>
</div>
