<div class="row">
  <div class="col">
    <label>User</label>
  </div>
  <div class="col">
    {{this.user.username}}
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field class="full" appearance="fill" >
      <mat-label>Note</mat-label>
      <input matInput placeholder="Inserisci delle note" [(ngModel)]="note">
    </mat-form-field>
  </div>
</div>


<div class="row">
  <div class="col">
    <button mat-button (click)="save()">Salva</button>
    <button mat-button (click)="cancel()">Cancella</button>
  </div>
</div>
