<div class="container-fluid tabcontent">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>
          <div class="tabcontent" >

            <h4>OSSIGENAZIONE</h4>
            <div class="row">
              <div class="col">

                <label>Apparato Respiratorio:</label>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="normale">Normale</option>
                  <option value="cianosi">Cianosi</option>
                  <option value="dispneariposo">Dispnea a riposo</option>
                  <option value="dispneasforzo">Dispnea a sforzo</option>
                  <option value="tosse_secca">Tosse secca </option>
                  <option value="tosse_produttiva">Tosse produttiva </option>
                  <option value="o2">O2 Terapia</option>
                </select>

              </div>
            </div>


            <div class="row">
              <div class="col">

                <label>Apparato Circolatorio:</label>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="normale">Normale</option>
                  <option value="gonfiori">Gonfiori</option>
                  <option value="estremita_fredde">Estremità fredde</option>
                  <option value="edemi">Edemi</option>
                  <option value="palpitazioni">Palpitazioni </option>
                  <option value="doloti_prec">Doloti precordiali</option>
                  <option value="aritmia">Aritmia</option>
                  <option value="battiti_reg">battiti regolari</option>
                </select>

              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col">
                <h4>STATO DI COSCIENZA</h4>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="cosciente">Cosciente</option>
                  <option value="disorientamento_temp">Disorientamento temporale</option>
                  <option value="disorientamento_spaz">Disorientamento spaziale</option>
                  <option value="sonnolenza">Sonnolenza</option>
                  <option value="coma">Coma</option>
                </select>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <h4>STATO D'ANIMO</h4>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="tranquillo">Tranquillo</option>
                  <option value="ansioso">Ansioso</option>
                  <option value="triste">Triste</option>
                  <option value="aggressivo">Aggressivo</option>
                  <option value="euforico">Euforico</option>
                </select>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <h4>MOBILIT&Agrave;</h4>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="normale">Normale</option>
                  <option value="bisogno_sostegno">Bisogno di sostegno</option>
                  <option value="incoordinazione">Incoordinazione</option>
                  <option value="protesi">Protesi</option>
                  <option value="ausili">Ausili</option>

                  <option value="allettato">Allettato</option>
                  <option value="posture_libere">Posture libere</option>
                  <option value="posture_obbligate">Posture obbligate</option>
                </select>
              </div>
            </div>

            <hr>

            <h4>ELIMINAZIONE</h4>

            <div class="row">
              <div class="col">
                <label>Apparato Urinario:</label>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="normale">Normale</option>
                  <option value="incontinenza">Incontinenza</option>
                  <option value="incidenti_occasionali">Incidenti occasionali</option>
                  <option value="ritenzione">Ritenzione</option>
                  <option value="catet_vescicale">Catetere vescicale</option>
                  <option value="catet_interm">Catetere Intermitt.</option>
                  <option value="condom">Condom</option>
                  <option value="pannolone">Pannolone</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Apparato Intestinale:</label>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="regolare">Regolare</option>
                  <option value="irregolare">Irregolare</option>
                  <option value="stitichezza">Stitichezza</option>
                  <option value="diarrea">Diarrea</option>
                  <option value="incontinenza">Incontinenza</option>
                  <option value="pannolone">Pannolone</option>
                  <option value="svuotamenti">Svuotamenti</option>
                  <option value="clismi">Clismi</option>
                </select>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <label>Apparato sessuale:</label>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="normale">Normale</option>
                  <option value="amonorrea">Amonorrea</option>
                  <option value="dismenorrea">Dismenorrea</option>
                </select>
              </div>
            </div>


            <hr>

            <div class="row">
              <div class="col">
                <h4>STATO CURE E MUCOSE</h4>

                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="integra">Integra</option>
                  <option value="rosea">Rosea</option>
                  <option value="pallida">Pallida</option>
                  <option value="cianotica">Cianotica</option>
                  <option value="itterica">Itterica</option>
                  <option value="disidrata">Disidrata</option>
                  <option value="lesioni">Lesioni</option>
                  <option value="ulcere">Ulcere</option>
                </select>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <h4>IGIENE PERSONALE</h4>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="autonomo">Autonomo/a</option>
                  <option value="supporto_tot">Necessità di supporto totale</option>
                  <option value="parziale">Necessità di supporto parziale:</option>

                </select>

                <input type="text" placeholder="Supporto parziale" [disabled]=disable>
              </div>
            </div>


            <hr>

            <div class="row">
              <div class="col">
                <h4>VESTIZIONE</h4>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="autonomo">Autonomo/a</option>
                  <option value="supporto_tot">Necessità di supporto totale</option>
                  <option value="parziale">Necessità di supporto parziale:</option>

                </select>

                <input type="text" placeholder="Supporto parziale"  [disabled]=disable>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <h4>ALIMENTAZIONE</h4>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="os_libera">Per os libera</option>
                  <option value="os_precauzioni">Per os con precauzioni</option>
                  <option value="sng">Enterale SNG</option>
                  <option value="peg">Enterale PEG</option>
                  <option value="cvc">Parenterale CVC</option>
                  <option value="agocannula">Parenterale agocannula</option>
                </select>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <h4>RIPOSO</h4>
                <select class="custom-select" [disabled]=disable>
                  <option selected="">Seleziona ...</option>
                  <option value="normale">Normale</option>
                  <option value="insonnia">Insonnia iniziale</option>
                  <option value="risvegli">Risvegli frequenti</option>
                  <option value="farmaci">Uso di farmaci</option>
                </select>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
