
.center {
  text-align: center;
  font-weight: bold;
}

.align-left {
  text-align: left;

}

.align-right {
  text-align: right;

}

.st {
  border-radius: 6px;
  background: #03b900a8;
  margin-top: 4px;
}
