table, th, td {
  border-radius: 1px;
}

table {
  width: 100%;
  margin-top: 20px;

}


.item {
  width: 30px;
  height: 20px;
}

.item-text {
  width: 40px;
  height: 20px;
}


.table-header {
  margin: unset;
  border: unset;
}


.center {
  text-align: center;
}

.without-border {
  /* border: unset; */
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
}

.title {
  font-weight: bold;
}

h4 {
  font-size: 17px;
  color: #676a6c;
}

.table-title {
  text-align: center; /* Centratura del titolo */
  font-family: 'Arial', sans-serif; /* Font diverso */
  font-weight: bold; /* Grassetto */
  color: #555555; /* Grigio scuro */
  font-size: 1rem; /* Dimensione del testo */
  margin-bottom: 1rem; /* Spaziatura sotto il titolo */
}

