table, th, td {
  border-radius: 1px;
}

table {
  width: 100%;
  margin-top: 20px;

}


.item {
  width: 30px;
  height: 20px;
}

.item-text {
  width: 40px;
  height: 20px;
}


.table-header {
  margin: unset;
  border: unset;
}


.center {
  text-align: center;
}

.without-border {
  /* border: unset; */
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
}

.title {
  font-weight: bold;
}
