:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  color: #676a6c;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* Previene lo scorrimento orizzontale causato dai margini negativi delle row Bootstrap */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Effetto hover per le righe della tabella */
.table-row-hover:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* Gestione Pulsanti Dialogo/Chiusura */
.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background: transparent;
  border: transparent;
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 0.3s ease-in-out;
}

  .close-icon:hover {
    transform: rotate(180deg);
  }

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}
