

<div class="containter pad">
  <div class="row">
    <div class="col ">
      <h1 class="title">AREA FISIOTERAPICA/RIABILITATIVA</h1>
      CFR = Cartella fisioterapica/riabilitativa

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <!-- <app-table-ospiti (showItemEmiter)="show($event)"></app-table-ospiti> -->
      <app-table-ospiti
        [eventPazienti]="eventsSubject.asObservable()"
        [enableShow]=false
        [enableDeleting]=false
        [showInsert]=false
        [enableCustomButton]=true
        [CustomButtons] = customButtons
      >
    </app-table-ospiti>
    </div>
  </div>
</div>
