.header_menu {
  background-image: url("../../../assets/header.png");
  background-size: cover;
}

.header-pad {
  padding-top: 30px;
  padding-bottom: 30px;
}

.body {
  background-color: #2f4050;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.pad {
  padding-top: 10px;
}

.font-bold {
  font-weight: 600;
  color: #dfe4ed;
}

.center {
  text-align: center;
}

.text-muted {
  color: #8095a8 !important;
  display: block !important;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 6px 3px 6px 3px;
  display: block;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
}

fa-icon {
  margin-right: 6px;
}

.mat-expansion-panel-header-title {
  color: white;
  margin: unset;
}

.mat-expansion-panel {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  display: unset;
}

.mat-expansion-panel-header {
  padding: 0px;
}

.mat-expansion-panel-header {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

::ng-deep .mat-expansion-panel-body {
  color: #a7b1c2;
}

.menuExpander {
  border-left: 4px solid #19aa8d;
  border-radius: 0px !important;
}

/* .subMenuExpander {
  border-left: 4px solid transparent !important;
} */

/* ::ng-deep .mat-expansion-panel-content {
  border-left: 4px solid #19aa8d;
} */
