<div class="body">
  <div class="container-flex header_menu header-pad">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="../../../assets/logo.png" />
            </div>
          </div>

          <div class="row pad">
            <div class="col">
              <span class="font-bold">La Rinascita</span>
            </div>
          </div>

          <div class="row pad">
            <div class="col">
              <span class="font-bold">{{username}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-flex">
    <div class="row">
      <div class="col">
        <ul>
          <!-- Elementi del menu -->
          <app-menu-item link="/"
                         icon="gem"
                         content-title="Home"
                         home="true"></app-menu-item>

          <ng-container *ngFor="let item of menu">
            <!-- Elemento senza sottomenu -->
            <ng-container *ngIf="item.subMenu.length === 0">
              <app-menu-item link="{{ item.link }}"
                             icon="{{ item.icon }}"
                             content-title="{{ item.title }}">
              </app-menu-item>
            </ng-container>

            <!-- Elemento con sottomenu -->
            <mat-expansion-panel hideToggle *ngIf="item.subMenu.length > 0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <app-menu-item link="{{ item.link }}"
                                 icon="{{ item.icon }}"
                                 content-title="{{ item.title }}">
                  </app-menu-item>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <ul *ngFor="let subItem of item.subMenu">
                  <!-- Subitem senza sottomenu -->
                  <ng-container *ngIf="!subItem.subMenu || subItem.subMenu.length === 0">
                    <app-menu-item link="{{ subItem.link }}"
                                   icon="{{ subItem.icon }}"
                                   content-title="{{ subItem.title }}">
                    </app-menu-item>
                  </ng-container>

                  <!-- Subitem con sottomenu -->
                  <mat-expansion-panel hideToggle *ngIf="subItem.subMenu && subItem.subMenu.length > 0">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <app-menu-item link="{{ subItem.link }}"
                                       icon="{{ subItem.icon }}"
                                       content-title="{{ subItem.title }}">
                        </app-menu-item>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <ul *ngFor="let item1 of subItem.subMenu">
                        <!-- Livello più profondo di sottomenu -->
                        <ng-container *ngIf="!item1.subMenu || item1.subMenu.length === 0">
                          <app-menu-item link="{{ item1.link }}"
                                         icon="{{ item1.icon }}"
                                         content-title="{{ item1.title }}">
                          </app-menu-item>
                        </ng-container>

                        <!-- Ancora un altro livello di sottomenu -->
                        <mat-expansion-panel hideToggle *ngIf="item1.subMenu && item1.subMenu.length > 0">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <app-menu-item link="{{ item1.link }}"
                                             icon="{{ item1.icon }}"
                                             content-title="{{ item1.title }}">
                              </app-menu-item>
                            </mat-panel-title>
                          </mat-expansion-panel-header>

                          <ng-template matExpansionPanelContent>
                            <ul *ngFor="let item2 of item1.subMenu">
                              <app-menu-item link="{{ item2.link }}"
                                             icon="{{ item2.icon }}"
                                             content-title="{{ item2.title }}">
                              </app-menu-item>
                            </ul>
                          </ng-template>
                        </mat-expansion-panel>
                      </ul>
                    </ng-template>
                  </mat-expansion-panel>
                </ul>
              </ng-template>
            </mat-expansion-panel>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
